[2018-03-16 08:05] sskeater opened #2 "Can you provide a API doc or method list?"
Hi, I want to use trust.js to implements my wallet. Can you provide a API doc or method list to help us learn about trust.js?

[2018-03-16 08:09] vikmeup commented on #2
Please refer to https://github.com/TrustWallet/trust-wallet-ios! It's been implemented on the Trust wallet.

[2018-03-17 21:58] mishfit commented on #2
@sskeater you're really going to want to look at the provider engine from MetaMask: https://github.com/MetaMask/provider-engine/

This provider just creates a very specific instance of a provider engine with everything that the Trust wallet needs

[2018-03-24 01:48] #2 closed

[2018-03-24 01:49] hewigovens opened #3 "Support Web3 1.0"
refs: https://github.com/MetaMask/provider-engine/issues/189

[2018-05-07 03:33] cppfuns opened #5 "Is there an Android version?I only see the ios version"
I am good at Windows C++ desktop development, learn a little bit of Android, I want to refer to the Trust implementation.
waiting for your reply~

[2018-05-24 06:27] vikmeup commented on #5
@madcake can we add Android version?

[2018-05-24 06:34] vikmeup opened #6 "Web3 provider does not catch new events/block updates"
Some dApps doesn't work properly in the Trust browser, I think it's related to block tracker functionality.

Once you sent transaction, dApp expect to receive new events or block updates but it never receives it and hangs for the user.

How to emulate:
https://github.com/TrustWallet/trust-wallet-ios - run in XCode and see debug menu.

Contact me if you have any questions: @vikmeup telegram or [Dis

[2018-05-24 17:53] vikmeup commented on #6
@KennethAshley not likely. I will provide more details and code that breaks tonight.

[2018-05-31 16:29] zitterbewegung commented on #6
@vikmeup were you able to get more info about debugging this ?

[2018-06-03 20:50] mishfit commented on #6
I guess since everyone else is stumped (and we don't have the code for 0xcert) I'll look into it.

[2018-06-04 00:06] vikmeup commented on #6
@mishfit I think this is related issue: https://github.com/TrustWallet/trust-wallet-ios/issues/742

[2018-06-05 06:56] mishfit commented on #6
I'm going to have to rip out the `provider-engine` in favor of the `json-rpc-engine` for 1.0 Promise-based contract calls to work

[2018-06-06 04:38] wl-tsui opened #10 "how to use in my android app？"
How to use in my android  app？
How to combine with WebView components or other use?
Please give some ideas?
thank you very much!!!

[2018-06-06 04:51] vikmeup commented on #10
@wl-tsui take a look: https://github.com/TrustWallet/trust-web3-provider#android

[2018-06-06 07:04] wl-tsui commented on #10
@vikmeup
Thank you for your reply, but the documentation just says how to install it. How do I use it to access a dapp URL in code?

[2018-06-06 21:15] mishfit commented on #6
https://github.com/TrustWallet/trust-web3-provider/pull/11 Should fix this issue. It's still just a "[WIP]" PR but I'll be pushing more to it once I know it is working

[2018-06-06 21:55] vikmeup commented on #10
Take a look at this repo to integrate web3 view: https://github.com/TrustWallet/Web3View

[2018-06-06 21:55] #10 closed

[2018-06-06 21:55] vikmeup commented on #5
Implemented

[2018-06-06 21:55] #5 closed

[2018-06-12 13:34] mishfit commented on #6
I've added a PR in the iOS version to assist with an issue that I've been having (web3 1.0 deprecates http providers)

[2018-06-15 14:47] mishfit commented on #6
It's still not working for manager.0xcert.org it is using web3 1.0 (and working for my web3 0.20.x projects)

_**Do people realize that 1.0 is still in beta?**_

Not sure what to say other than we need their un-webpacked source code

[2018-06-16 06:20] hewigovens opened #13 "Show Trust icon and name on mycrypto.com"
https://support.mycrypto.com/contributor-info/adding-support-for-web3-wallet.html

[2018-06-18 21:44] vs77bb commented on #6
Hi @mishfit is this one good for you to Submit Work for payout on Gitcoin? If you need a bit of ETH to do so, the [Gitcoin Faucet](gitcoin.co/faucet) may be useful!

[2018-06-19 12:42] mishfit commented on #6
@vs77bb I'm not sure what you mean. Can you restate your question?

[2018-06-19 12:50] vs77bb commented on #6
Ah sorry, Gitcoin lingo 🙂 and upon second glance it looks like this one is still in progress. Basically, when it's at point where this issue is closed, you can go to [the issues detail page on Gitcoin](https://gitcoin.co/issue/TrustWallet/trust-web3-provider/6/485) and claim the bounty by clicking 'Submit Work'.

[2018-06-25 16:41] vikmeup commented on #6
@gitcoinbot Work still in progress!

[2018-06-27 17:41] mandelmonkey opened #17 "web3 variations and support"
Appolgies not really an issue but an inquiry
I developed a dapp browser using the metamask provider repo https://github.com/MetaMask/provider-engine

However when loading some notable dapps (that work with the metamask chrome extension) in my dapp browser I get the error Web3ProviderEngine does not support synchronous requests

I see the dapp is calling synchronous methods (web.eth.accounts[0]) bu

[2018-06-27 20:01] mishfit commented on #6
I've stopped the work on Gitcoin. The PR does support web3 1.0.0 however, I don't know why it doesn't support this specific site. I've put in way too many hours on it and have a workable web3 provider for Trust that supports web3 0.20.x (async only) and web3 1.0.0 (again, but not this site).

[2018-06-28 05:59] mandelmonkey commented on #17
Thanks for the reply
so that means current dapps will have to upgrade or they will stop working?
the reason I ask is a game didnt work in our dapp browser but worked in trust wallet (due to synchronous request), so I changed our provider to use this one and it works, however it means their dapp will some working after the upgrade to 1.0.0?

[2018-06-28 13:41] mishfit commented on #17
That's correct, for the most part, the game will stop working after the upgrade to 1.0.0.

It is possible for them to bring along they're own version of web3 and just use trust wrapped in web3. You'll see this in MetaMask's own [documentation](https://github.com/MetaMask/faq/blob/master/DEVELOPERS.md) but most people ignore the second part of the code:

[code]
The brilliant part is that you can ta

[2018-06-28 17:40] mandelmonkey commented on #17
thanks so, let me see if I undertand this
 the trust js injected code that interacts with the wallet i.e.
[code]

will still continue to work if the dapp uses their own web3 provider?
do you know when the upgrade is scheduled?

[2018-07-16 06:36] dhruvi1kosmos commented on #5
@vikmeup  @madcake  any implementation example for android for genrating ethereum wallet

[2018-07-16 11:22] dhruvi1kosmos opened #18 "How to use trust-web3-provider in my android app"
How to integrate Mnemonic phrase based wallet creation in my android app.can you give example for implementing same?

[2018-07-16 18:51] vikmeup commented on #18
Not related to this topic.

[2018-07-16 18:51] #18 closed

[2018-08-21 01:33] vikmeup opened #19 "Simplify web3 provider"

[2018-08-21 01:34] vikmeup commented on #13
@hewigovens should this be closed?

[2018-08-21 01:37] hewigovens commented on #13
leave it for tracking purpose, I will submit a PR to MyCrypto anyway.

[2018-08-21 09:02] katoto opened #20 "npm install error never called"
I was wrong when I npm installed it. error:  tar zlib error: unexpected end of file &  cb() never called!

[2018-09-03 15:02] hewigovens commented on #19
should be fixed in 060b2d9b06d3b41dd10f2f0b2725e555c1086829

[2018-09-03 15:02] #19 closed

[2018-09-03 15:02] hewigovens commented on #6
should be fixed in 060b2d9b06d3b41dd10f2f0b2725e555c1086829

[2018-09-03 15:02] #6 closed

[2018-09-03 15:04] hewigovens opened #22 "Support personal_ecRecover"

[2018-09-05 09:47] #22 closed

[2018-09-07 01:04] hewigovens commented on #20
sounds like a network issue

[2018-09-07 01:04] #20 closed

[2018-09-07 01:06] hewigovens opened #24 "Support EIP-1102"
https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1102.md
https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1193.md

[2018-09-07 01:07] vikmeup commented on #24
👍 let’s plan this for October

[2018-09-12 14:47] vs77bb commented on #6
@hewigovens @vikmeup Is this good for payout on Gitcoin?

[2018-09-14 05:33] PegasusCharles opened #26 "How does it start a trust wallet"
Thank you very much for the library.
but I want to know how it starts the trust wallet
Thank

[2018-09-21 03:40] #26 closed

[2018-09-22 23:02] hewigovens opened #27 "Support EIP-1024 Cross-client Encrypt/Decrypt"
https://github.com/ethereum/EIPs/pull/1098

[2018-09-25 11:32] MUSystem opened #28 "Проблема после подтверждения транзакции"
В коде Dapp вызываю по кнопке в форме функцию контракта:

`    miniToken.deposit( { from: address, value: amountinwei })
     .then(function (txHash) {
     alert('Transaction sent ' + txHash);
      })
     .catch(console.error) `

Далее подтверждаю транзакцию во всплывающем окошке кошелька.

Используя Метамаск, алерт срабатывает после подтверждения транзакции. Используя Траст (андроид), не сраба

[2018-09-25 11:42] MUSystem commented on #28
Перенесу в Android app

[2018-09-25 17:29] MUSystem commented on #28
1.6.136

[2018-09-25 17:32] madcake commented on #28
Could you make something same https://danfinlay.github.io/js-eth-personal-sign-examples/

[2018-09-25 18:01] MUSystem commented on #28
Не совсем понял, извините.
Мне следует выполнить все тесты на приведенной Вами странице или же создать подобную страничку, чтобы Вы смогли проверить ошибку?

[2018-09-25 18:02] madcake commented on #28
Макет сильно бы мне помог.

[2018-09-26 06:39] MengLiMing opened #29 "How to use in the Objective-C project"
How to use in the Objective-C project

[2018-09-26 19:44] vikmeup commented on #13
@hewigovens released now, should we close it?

[2018-09-26 19:45] vikmeup commented on #17
This should be fixed now

[2018-09-26 19:45] #17 closed

[2018-09-26 20:01] #13 closed

[2018-09-27 02:09] hewigovens commented on #28
what's the status of this issue? could we use English here?

[2018-09-27 02:10] hewigovens commented on #29
This is a javascript lib so you can reference the swift implementation in Trust iOS.

[2018-09-27 02:10] #29 closed

[2018-09-29 09:24] MengLiMing opened #32 "请问是怎么解决WKWebView的跨域访问问题"
请问是怎么解决WKWebView的跨域访问问题

[2018-10-01 18:06] MUSystem commented on #28
Hey. Sorry for delay.

While I was preparing a sample-page for Maksim, there were several updates to the application. In one of them the issue has been corrected, for which many thanks to you! Now the alert works, as it should.

Thanks again! I close the topic.

[2018-10-01 18:06] #28 closed

[2018-10-10 07:12] hewigovens commented on #32
Don't understand your question, it's web3 provider

[2018-10-10 07:12] #32 closed

[2018-10-16 00:58] hewigovens opened #34 "Add tests and coverage report"

[2018-10-17 07:14] hewigovens opened #35 "Contract events (eth_getLogs) issue on hdx20.io"
https://etherscan.io/address/0x8942a5995bd168f347f7ec58f25a54a9a064f882#code

[2018-11-08 05:48] hewigovens opened #41 "returns irrelevant events on multis.co"

[2018-12-07 20:04] vikmeup opened #45 "Allow chain ID change"
https://github.com/TrustWallet/trust-web3-provider/blob/master/src/index.js

[2018-12-07 20:05] vikmeup commented on #45
And rpc! The whole config

[2018-12-07 21:55] hewigovens opened #46 "[EIP1102]forkdelta gets stuck when loading"

[2018-12-09 00:48] hewigovens commented on #45
Fixed by #47

[2018-12-09 00:48] #45 closed

[2018-12-10 07:34] #24 closed

[2018-12-10 08:10] #46 closed

[2018-12-29 06:54] MengLiMing opened #50 "undefined is not a function (near '...Trust.init...')"
undefined is not a function (near '...Trust.init...')

[2018-12-29 07:43] hewigovens commented on #50
https://medium.com/nycplanninglabs/writing-a-proper-github-issue-97427d62a20f

[2018-12-29 07:43] #50 closed

[2018-12-29 07:44] vikmeup commented on #50
😄

[2019-01-06 16:34] luannguyenQV opened #51 "Don't see executeCallback function"
_Sorry for my misunderstanding!_
I see in *trust-wallet-ios*, you are using commit: *f4e0ebb1b8fa4812637babe85ef975d116543dfd* - in this commit you have ***executeCallback*** in Trust (provider). But in current version, I don't see this function again.
So how can I execute callback after I signed a transaction in my wallet?
Hope the helps.
Thanks.

[2019-01-07 03:39] luannguyenQV commented on #51
I tried to use:
`webview.evaluateJavaScript(`provider.sendResponse(${data.id}, {'id': ${data.id}, jsonrpc: '2.0', result: ${signed}, error: null })`)`
But it doesn't work.
@hewigovens Can you help?

[2019-01-07 03:57] hewigovens commented on #51
checkout this line: https://github.com/TrustWallet/trust-web3-provider/blob/master/Example/TrustWeb3Provider/DAppWebViewController.swift#L116

[2019-01-07 06:05] luannguyenQV commented on #51
Yup, thank you. I will try.

[2019-01-07 11:01] luannguyenQV commented on #51
Thanks, It worked for me.

[2019-01-07 11:01] #51 closed

[2019-01-18 07:52] liweiz opened #52 "Report bug in TrustWeb3Provider.setConfig"
https://github.com/TrustWallet/trust-web3-provider/blob/ae735bb046030e671b313de4049947d46c11f658/src/index.js#L33

Line 33 of index.js:

It should be something like:

`this.filterMgr = new FilterMgr(this.rpc);`

current as in ae735bb:

`this.filterMgr = new FilterMgr(config.rpcUrl);`

For _FilterMgr_, a _RPCServer_ instance is required instead of _String_ of a url.

I was trying to make a pull req

[2019-01-18 08:04] hewigovens commented on #52
Thanks for reporting, we'll fix it soon

[2019-01-18 08:47] #52 closed

[2019-01-18 18:03] liweiz opened #54 "Why is TrustChain3Provider.isConnected always True?"
https://github.com/TrustWallet/trust-web3-provider/blob/1284aee71a3f6fb2073624b4fcf533aff9f2b220/src/index.js#L20

It is probably a silly issue for some. But I just can't figure it out myself.

[2019-01-18 18:34] kolya182 commented on #54
It is simply used to verify if Trust We3 injected
Example of use:
https://github.com/TrustWallet/dapps-browser/blob/2c72f06c0c379005a549d7f577ae088dc39f8ffb/src/components/systemchecks/ConnectionStatus.js#L12

[2019-01-18 19:53] #54 closed

[2019-01-20 19:02] liweiz opened #56 "[Bug Report] Is "signTransaction" a typo?"
https://github.com/TrustWallet/trust-web3-provider/blob/702ac4367691b2f4ad2e9b98fe2eef7da17356c9/src/index.js#L171

From what I can tell, it should've been "sendTransaction" instead of "signTransaction".

Please let me know if my understanding is correct.

Thanks,

Liwei

[2019-01-21 00:38] liweiz commented on #56
@hewigovens Thanks for your quick response. I'll look into more details.

[2019-01-21 00:38] #56 closed

[2019-01-28 12:50] hewigovens opened #57 "web3 in iframe"
https://www.ouvre-boite.com/members/

[2019-02-27 07:48] superoo7 opened #58 "web3.js v1 not working with Trust Wallet"
Can be refer to #3

Currently, I had issue making the code work in TrustWallet, if I write in vanilla js (without webpack or babel), it will work. ( [Links to the testing](https://superoo7.github.io/trustwallet-web3-bug/trustwallet.html), [Code](https://github.com/superoo7/trustwallet-web3-bug/blob/master/trustwallet.html) )

I used truffle box to generate a new react project to regenerate the pro

[2019-02-27 18:37] vikmeup commented on #58
@superoo7 we do not support sync methods on purpose. Best practice to always use async calls on web3.

[2019-02-27 20:34] superoo7 commented on #58
I tried wrap the function with Promises (error first approach), it still getting that error. The only way i manage to make it work is via "window.web3" with older web3js API (0.20.x)

[code]

[2019-02-28 00:36] hewigovens commented on #58
@superoo7 Hi, we're using web3 0.20.x, it's not compatible with 1.0 right now

[2019-03-22 03:54] codydjango commented on #58
Would be nice if this info was more available. Any estimate on when you will be supporting 1.0 beta?

[2019-03-23 23:55] hewigovens commented on #58
@superoo7 @codydjango we once supported 1.0 beta, but not compatible with most dapps, and Metamask is still using "0.20.3". I'm afraid we have to wait metamask for web3 1.0

[2019-03-24 04:28] codydjango commented on #58
Thanks @hewigovens, makes sense to me. We're just at a bit of a weird spot right now, where 1.0 beta has gained a lot of traction and it's increasingly common to reinitialize web3 with the given provider. I think listing Trusts web3 requirements either on the website or github could be really helpful for dapp developers, especially for new developers. I know this would have helped save me at least

[2019-03-24 04:34] hewigovens commented on #58
@codydjango readme updated

[2019-04-15 08:34] BigMurry commented on #58
Trust wallet should work with web3 1.0 and ethers.js as soon as possible or many new dapps will not work at Trust wallet.

[2019-04-16 14:03] marioabcdef opened #61 "etheroll.com - no data showing under results"
Rolling the dice works, but looking at past results gives back nothing. Working on coinbase, status and other wallets.

![photo_2019-04-16_15-05-00](https://user-images.githubusercontent.com/12964883/56216077-0c8a5f80-6061-11e9-8ac8-98323cc58286.jpg)

[2019-04-17 07:26] marioabcdef opened #62 "Mintable.app - cannot access the trust wallet address for user's wallets"
Hello, I'm a dapp developer for Mintable.app - our dapp worked on Trust wallet but after our recent beta upgrade - it cannot access the trust wallet address for user's wallets - it works with metamask and coinbase wallet fine though. Is there a developer support or team member I can chat with to fix the issue for our Trust Wallet users?? We can share some information with a team dev and see as to

[2019-04-27 09:52] kombos commented on #58
is trust-web3-provider working with web3 1.0 yet ?

[2019-04-28 02:11] BigMurry commented on #58
Trust wallet should be working at ethers.js, if this issue can be fixed.
https://github.com/ethers-io/ethers.js/issues/489

[2019-04-28 02:32] vikmeup commented on #58
@BigMurry Thanks for debugging and finding a solution 🙏

[2019-05-28 07:41] marioabcdef opened #60 "When making an order on Ethfinex during signing, there is "Invalid Signature" error"
https://t.me/trustwallet/180268
https://t.me/trustwallet/180451

User has Android

[2019-06-12 09:25] HoangJerry commented on #58
I guess they are still working on it. I got the error not confirm transaction at send() function

[2019-06-12 14:43] vikmeup commented on #58
@HoangJerry web3 is quite unstable by nature, we will wait until the final version is released and then adopt, web3 developers tend to break it every other release

[2019-06-21 10:34] shihshi opened #65 "License"
I saw the trust-web3-provider is declared to MIT lincense, but there is one file /src/package.json write down the license is GPL3.0,  so what the License term is correct ?

[2019-06-21 10:38] hewigovens commented on #65
Hi, MIT

[2019-06-21 16:03] #65 closed

[2019-06-21 16:03] vikmeup commented on #65
https://github.com/TrustWallet/trust-web3-provider/commit/d1878580158cda4009d3259d36664d4bc510a8da

[2019-07-24 01:51] James-Sangalli opened #69 "Cannot find function 'executeCallback' when using provider in iOS"
Hi @hewigovens & @vikmeup ,

I forked this provider here: https://github.com/James-Sangalli/AlphaWallet-web3-provider
Merely changing the naming to map to AlphaWallet rather than trust.

And I implemented the handling in iOS here: https://github.com/AlphaWallet/alpha-wallet-ios/commit/79bed87caf1b39a722a6eeac1da593d35b1cd5c4

Many of the functions like sendAsync are there and things like web3.curr

[2019-07-24 02:58] hewigovens commented on #69
We don't use `executeCallback` anymore, you should change it here: https://github.com/AlphaWallet/alpha-wallet-ios/blob/master/AlphaWallet/Browser/ViewControllers/BrowserViewController.swift#L147

[2019-07-24 04:54] James-Sangalli commented on #69
@hewigovens thanks for that, I am guessing you use postMessage(handler, id, data) now instead?

[2019-07-24 10:43] Nitro888 opened #70 "eip-1102 problem, window.ethereum is not working with trustwallet"
1st time this code was ok, but next time not work.
I don't konw what I missed.

[code]

[2019-07-24 11:05] James-Sangalli commented on #69
Solved with sendResponse callback, note that 'this' is not reliable in the provider class.

[2019-07-24 11:05] #69 closed

[2019-07-24 23:24] hewigovens commented on #70
Do you see any errors?

[2019-07-25 00:51] rstormsf commented on #70
@Nitro888 Please provide your error logs

[2019-07-25 04:57] Nitro888 commented on #70
because of this sample. [sample](https://gist.github.com/bitpshr/076b164843f0414077164fe7fe3278d9#file-provider-enable-js)

[code]

[2019-08-17 11:35] marioabcdef commented on #62
Any update on this?

[2019-08-29 10:39] ZitRos opened #73 "Legacy eth_signTypedData Never Fires a Callback"
Hello! Thanks for taking time coming across this issue!

I came here from Trust's iOS app.

Regardless of the standard, it seems that `eth_signTypedData` call **is unresponsive** (neither give a sign popup nor throws an error):

[code]

Though if I call `method: "eth_signTypedData100500"` it throws an error.

Platform: Trust for iOS
Live demo: [here](https://zitros.github.io/ethereum-delegated-tx-

[2019-08-29 12:23] ZitRos commented on #73
Just tested this in Android app, and it works there. So its a problem with iOS app.

[2019-08-30 02:01] EnoRage opened #74 "Cosmos signed tx returns invalid JSON"
Try to sign Cosmos Tx from

https://github.com/trustwallet/web-core/blob/master/packages/example/src/ProviderExamples.tsx

You will get something like:

`{"json":"{"mode":"block","tx":{"fee":{"amount":[{"amount":"5000","denom":"uatom"}],"gas":"200000"},"memo":"","msg":[{"type":"cosmos-sdk/MsgDelegate","value":{"amount":{"amount":"1","denom":"uatom"},"delegator_address":"cosmos1et7a8svmxfkz23mn280k

[2019-08-30 04:11] EnoRage opened #75 "IOS vs Android Bug"
Here you can see bug:

Android:
![2019-08-30 07 09 05](https://user-images.githubusercontent.com/22479658/63992550-10d98580-caf5-11e9-9a1d-16893d4325e8.jpg)
IOS:
![2019-08-30 07 09 21](https://user-images.githubusercontent.com/22479658/63992560-1cc54780-caf5-11e9-9936-aa7611821161.jpg)

According to the docs here:
https://developer.trustwallet.com/trust-provider

Interface of account must be like

[2019-08-30 12:25] hewigovens commented on #73
Hi, I tried https://zitros.github.io/ethereum-delegated-tx-widget/ and it looks like the data is not valid eip712 data? could you please share an example? Trust iOS only supports `eth_signTypedData_v3`

for a working example in Trust, please refer `sign typed data v3` in https://js-eth-sign.surge.sh

[2019-08-30 12:30] ZitRos commented on #73
Hi @hewigovens! Thanks for your quick feedback!

Right! And once I call `eth_signTypedData` (legacy) with legacy data, I just get silence. I am sure it must throw an error instead.

[2019-08-30 12:34] ZitRos commented on #73
Because of this problem, I had to implement a workaround on the application level:

![image](https://user-images.githubusercontent.com/4989256/64020934-80726380-cb3b-11e9-85d8-5a4a3e3f23d7.png)

But by design, if it gets the error, it switches to the next supported standard automatically.

[2019-08-30 12:38] hewigovens commented on #73
I totally agree, web3 is a mess, it's so hard to push something

[2019-08-30 12:41] ZitRos commented on #73
As for web3, that's right. Do you think this is a web3 bug but not Trust's for iOS?

[2019-08-30 12:46] hewigovens commented on #73
We will throw an error for legacy eip712 data, right now it expects v3 data

[2019-08-30 12:48] ZitRos commented on #73
Awesome, thanks! When can we expect this then?

By the way, somewhen around 6 months ago, Trust supported `eth_signTypedData` which is now "legacy", and it worked great. Is there any possibility you also consider supporting the legacy signing as well? Our token has this implementation hard-coded forever, and it would be awesome if you could leave it, just like legacy `eth_sign`.

[2019-08-30 12:58] leoneparise commented on #75
Fixed submitted on Android app: https://github.com/trustwallet/android/pull/1601

[2019-08-30 13:02] leoneparise commented on #75
I'm closing this one because I opened another issue (and fix) on Android project: https://github.com/trustwallet/android/issues/1602

[2019-08-30 13:02] #75 closed

[2019-09-19 08:35] olegabr opened #76 "invalid json rpc response: """
This plugin is used: https://wordpress.org/plugins/ether-and-erc20-tokens-woocommerce-payment-gateway/

It uses old stable web3js lib version 0.20.X

The payment works well on desktop with MetaMask, but on a mobile iOS Trust Wallet it says: `invalid json rpc response: ""`

The site in question: https://www.maningimines.com/

![IMG_0857](https://user-images.githubusercontent.com/2850808/65227585-19

[2019-09-22 06:42] olegabr commented on #76
I've tried this site with Trust Wallet on Android and it works fine. only iOS has this issue

[2019-09-22 16:45] kolya182 commented on #76
Is this happens every-time to on checkout page ?. Did not happen to me.

[2019-09-23 22:07] olegabr commented on #76
Yes, client get this error every time she tries to pay with her iphone.

[2019-09-28 06:26] hewigovens commented on #76
sorry for late update: I got this error when placing order
![image](https://user-images.githubusercontent.com/360470/65812601-d2221280-e1fb-11e9-8ccf-436ac8aae0fa.png)

[2019-09-28 13:27] olegabr commented on #76
looks like infura.io CORS problem. will ask them

[2019-10-02 05:14] #76 closed

[2019-11-18 19:51] vikmeup opened #78 "Add eth_chainId support"

[2019-11-20 08:41] #78 closed

[2019-11-21 09:32] dpereskokov opened #82 "Implement eip1102"
https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1102.md

[2019-11-21 09:33] dpereskokov opened #83 "Implement eip1193"
https://github.com/ethereum/EIPs/blob/master/EIPS/eip-1193.md

[2019-11-21 10:12] hewigovens commented on #82
This is done actually, we need EIP1193

[2019-11-21 11:20] vikmeup commented on #82
@hewigovens from what friend told me `const accounts = await ethereum.send('eth_requestAccounts');` does not work yet, but we still need to support ` ethereum.enable()` too, it's an alias

[2019-11-21 11:58] hewigovens commented on #82
yes, should be fixed after we implement 1193

[2019-11-21 12:25] hewigovens commented on #3
https://medium.com/metamask/no-longer-injecting-web3-js-4a899ad6e59e

[2019-11-21 12:25] #3 closed

[2019-12-03 03:29] #27 closed

[2020-01-17 08:07] #62 closed

[2020-01-17 08:07] #61 closed

[2020-01-17 08:07] #60 closed

[2020-01-31 17:58] leroldary opened #87 "eth_signTypedData generates an invalid signature for uint32 integers on android."
The android version of Trustwallet generates an invalid signature for uint32 integers.
Example data:
[code]
Example (Trust-Wallet eip-712 bug button): https://dicether.github.io/js-eth-personal-sign-examples/

[2020-02-02 06:31] hewigovens commented on #87
Thanks for reporting, we're investigating

[2020-02-02 07:59] madcake commented on #87
Fixed on android

[2020-02-02 07:59] #87 closed

[2020-02-08 16:41] leroldary opened #88 "eth_sign occasionally generates invalid signature"
Using eth_sign and then verifying the signature (recovering the address) the recovered address in sometimes (about every 100 times) wrong, which means Truswallet generated an invalid signature.

E.g. Signing the data
`0x68bfc34d28afcb7ae03691816548965dffba6c427c79d15fe6ef548384395fb0`
with the address
`0xe3aAd2d4f9545D3cE53Bb5cd9Ca929a9f7995837`
the result of TrustWallet is
`0xa20bdcf11c4c689edba3

[2020-02-09 07:33] hewigovens commented on #88
hmm, both iOS and Android?

[2020-02-09 10:27] leroldary commented on #88
Both iOS and Android.

[2020-02-09 10:48] hewigovens commented on #88
Can you share your test code? Will investigate it later

[2020-02-10 10:32] bachlongkocanh opened #89 "Undefined is not an object (evaluating 'window.web3.currentProvider.publicConfigStore.on')"
I have run on some websites with my custom rpc, the error is as follows:
```Undefined is not an object (evaluating 'window.web3.currentProvider.publicConfigStore.on')```.
How to resolve it??
Thank!

[2020-02-10 19:05] leroldary commented on #88
[code]
Short explanation: We are using eth_sign to simulate eth_signTypedData. We sometimes couldn't verify the signatures, so we added  something similar like the posted code to our front-end and noticed that occasionally the generated signature seems to be invalid.

[2020-02-11 03:07] hewigovens commented on #89
I don’t think we expose this property

[2020-02-11 03:08] hewigovens commented on #88
Thanks, will try to reproduce it

[2020-02-13 04:09] bachlongkocanh commented on #89
@hewigovens  I resolved this issue. But i have new issue, i don't find `executeCallback` in your source code. How to execute callback action?

[2020-02-13 04:48] #89 closed

[2020-04-16 21:17] MythicalToken commented on #58
Is this still the case?

"Fully functioning Web3 browser that can be used to interact with any decentralized application (DApp)" is like a bad joke then.

[2020-04-16 21:20] vikmeup commented on #58
Calling async methods is the best practice for using web3.

[2020-04-16 21:20] #58 closed

[2020-04-16 21:22] MythicalToken commented on #58
What about the web.js 1.0 support?

[2020-04-16 21:32] vikmeup commented on #58
It does not matter anymore, you should not be using injected provider at all, use your own: https://medium.com/metamask/no-longer-injecting-web3-js-4a899ad6e59e

You only use injected provider to call sign message or transaction

[2020-04-16 21:52] MythicalToken opened #91 "Not getting any events with Trust Wallet"
I hope this is the right repo, i haven't used Trust Wallet before and am unsure about all its components.

My dApp (https://myth.cash) is not loading any events, you can check this by opening any page other than the startsite, they all have some kind of tables that should display events but don't. I've tried to connect sentry to get any way to catch errors but all i get is: ``TypeError: Failed to

[2020-04-16 21:59] MythicalToken commented on #91
just realized how wrong this repo is

[2020-04-16 21:59] #91 closed

[2020-04-22 03:55] surajsingla333 commented on #58
How can I integrate trust wallet in my browser dApp?

[2020-04-25 22:41] hoytech opened #92 "eth_signTypedData_v3 on android fails for uint256 values >= 2^255"
I noticed that eth_signTypedData_v3 signatures are incorrectly computed for uint256 values in certain cases. It only appears to affect Trust Wallet on Android. iOS works OK, as does Metamask on all platforms.

Specifically, it seems when the value is >= 2^255 it fails. It should be able to handle values up to the top of the uint256 range (2^256 - 1). Maybe it's treating the value as signed somewhe

[2020-04-26 03:16] hewigovens commented on #92
hi, we will implement new provider in android, so this should be fixed in js side

[2020-05-13 18:04] hoytech commented on #92
@hewigovens @vikmeup - Thanks for the reply. Can I ask what you mean fixed in the js side? Is it possible to sign messages with a very large uint256 value somehow? Note that this error occurs even when we encode it as a string. See this test-case: https://github.com/hoytech/js-eth-personal-sign-examples/blob/master/index.js#L385-L398

If not, when can we expect the new provider for android? Thanks

[2020-05-13 22:34] hewigovens commented on #92
no ETA yet, Apple doesn't like web3/dapp browser, we're considering if it's worth to support it at all

[2020-05-14 02:29] hoytech commented on #92
Thanks for the update. Actually, I am having a problem with Android, not Apple devices. Apple devices seem to work fine for this test-case, it's just Android that fails.

[2020-06-11 08:57] vcoolish commented on #92
Fixed on client, will be available in version 1.10.4.
Can be closed now

[2020-06-11 20:51] #92 closed

[2020-06-11 20:52] hoytech commented on #92
Thank you!

[2020-07-29 10:42] Ouchaoyong opened #94 "trustwallet / Web3View is obsolete"
trustwallet / Web3View  is obsolete , i want an android example  which is can run

[2020-09-14 06:03] #82 closed

[2020-09-14 06:04] #35 closed

[2020-09-14 06:04] #41 closed

[2020-09-14 06:04] #57 closed

[2020-09-15 02:11] #70 closed

[2020-09-15 02:11] #83 closed

[2020-09-15 02:52] hewigovens opened #98 "Publish android lib to GitHub packages"

[2020-09-15 02:55] #94 closed

[2020-09-16 02:53] #98 closed

[2020-09-20 23:06] hewigovens opened #100 "this._request is not a function or undefined"
"Uncaught (in promise) TypeError: (this || window.ethereum)._request is not a function", source: https://staking.dxsale.network/

[2020-09-20 23:57] vikmeup commented on #100
`_request` what is this magic function?

[2020-09-21 00:32] hewigovens commented on #100
This is our internal helper method for both `request` and `sendAsync`, `this` is messed up somehow in some dapps

[2020-09-21 10:16] #100 closed

[2020-10-05 09:42] #34 closed

[2020-10-10 02:43] CoderWangP commented on #94
how can i start an android example

[2020-10-12 03:37] CoderWangP opened #104 "not receive any events in android"
@hewigovens
DevTools failed to load SourceMap: Could not load content for https://hyperdragons.alfakingdom.com/trust-min.js.map: HTTP error: status code 404, net::ERR_HTTP_RESPONSE_CODE_FAILURE
(index):703 Uncaught TypeError: Cannot set property 'setProvider' of undefined
    at (index):703
index.ecf9adcf.js:1 [FAILED][/get-bulletin-list]: System Error
(anonymous) @ index.ecf9adcf.js:1
sa.gif:1 Fa

[2020-10-12 04:47] hewigovens commented on #104
can you share more details? which dapp, how to reproduce it, Trust app version

[2020-10-12 05:07] CoderWangP commented on #104
dapp:https://hyperdragons.alfakingdom.com/
implementation 'com.github.TrustWallet:trust-web3-provider:0.3.9'
the init.js `
const addressHex = "%1$s";
const rpcURL = "%2$s";
const chainID = "%3$s";
function executeCallback (id, error, value) {
  Trust.executeCallback(id, error, value)
}
function onSignSuccessful(id, value) {
  Trust.executeCallback(id, null, value)
}
function onSignError(id, error)

[2020-10-12 05:16] hewigovens commented on #104
this dapp https://hyperdragons.alfakingdom.com/ doesn't even work with metamask

[2020-10-12 05:19] CoderWangP commented on #104
but i open it with trustwallet,it receives signMessage message

[2020-10-12 05:37] hewigovens commented on #104
please take a look at iOS injected js code: https://github.com/trustwallet/trust-web3-provider/blob/master/ios/TrustWeb3Provider/WKUserScriptConfig.swift#L33, and latest provider version is `0.4.5` on github package

We don't have resources to implement an android demo, feel free to contribute one

for testing, you could try https://js-eth-sign.surge.sh

[2020-10-12 06:35] CoderWangP commented on #104
i change to 0.4.5,but it miss trust-min.js raw file
  implementation 'com.github.TrustWallet:trust-web3-provider:0.4.5'

[2020-10-12 07:54] CoderWangP commented on #104
Uncaught (in promise) TypeError: Cannot read property 'messageHandlers' of undefined
    at TrustWeb3Provider.value (hyperdragons.alfakingdom.com/:656)
    at TrustWeb3Provider.value (hyperdragons.alfakingdom.com/:656)
    at hyperdragons.alfakingdom.com/:656
    at new Promise (<anonymous>)
    at TrustWeb3Provider.value (hyperdragons.alfakingdom.com/:656)
    at TrustWeb3Provider.value (hyperdra

[2020-10-12 08:08] hewigovens commented on #104
Android webview doesn't have `window.webkit.messageHandlers`, you need to mock it or override it, one test example: https://github.com/trustwallet/trust-web3-provider/blob/master/src/tests/test.js#L113

[2020-10-13 07:49] CoderWangP commented on #104
`js`
var config = {
    address: "%1$s",
    chainId: "%2$s",
    rpcUrl: "%3$s"
};
const provider = new window.Trust(config);
provider.isDebug = true;
window.ethereum = provider;
window.web3 = new window.Web3(provider);
window.web3.eth.defaultAccount = config.address;

window.chrome = {webstore: {}};

window.web3.setProvider = function () {
  console.debug('Trust Wallet - overrode web3.setProvide

[2020-10-14 06:16] hewigovens commented on #104
what's `Trust.postMessage(message)`? you should handle message singing inside your app. `web3` is not defined means you didn't inject js properly, there might be some js error

[2020-10-14 08:09] CoderWangP commented on #104
thanks very much,it has been solved.

[2020-10-14 08:09] #104 closed

[2020-10-14 08:31] hewigovens commented on #104
great, would you mind to contribute an android demo?

[2020-10-14 09:07] CoderWangP commented on #104
I am very happy to provide a demo after finishing the current project.

[2020-10-25 11:24] mgtarik-hub commented on #88
Lot of thanks

[2020-10-29 02:37] lonerchen opened #107 "Flutter Ios injection failed"
I tried to inject trust.js on the Flutter side, and it worked normally on the Android side device, and the following message was reported on the IOS side.
`
javaScript string was: 'parcelRequire=function(e,r,t,n){var i,o="function"==typeof parcelRequire&&parcelRequire ... ...
Error Domain=WKErrorDomain Code=5 "JavaScript execution returned a result of an unsupported type" UserInfo={NSLocalizedDesc

[2020-10-29 04:17] hewigovens commented on #107
Can you share your sample code? It must be something wrong in flutter webview wrapper or not configured correctly , it does work in iOS WKWebView

[2020-10-29 07:23] lonerchen commented on #107
this is my Flutter code.
`
        child: WebView(
//              initialUrl: "http://192.168.1.24:3000/",
          initialUrl: "https://pandora.vpntube.app/build/index.html#/swap",
          javascriptMode: JavascriptMode.unrestricted,
          userAgent: "random",
          onWebViewCreated: (controller)async{
            _myController = controller;
          },
//          javascriptChannels

[2020-10-29 07:47] lonerchen commented on #107
I found a related solution, but I don’t know what the problem is. It may be a bug in Flutter
https://github.com/flutter/flutter/issues/66318

[2020-10-29 07:47] #107 closed

[2020-11-09 21:56] levx-io opened #108 "window.ethereum is undefined in https"
When you visiti https://lite.sushiswap.fi/ with TrustWallet, `window.ethereum` is `undefined`.

But if you clone `https://github.com/sushiswap/sushiswap.github.io`, which is the same code as https://lite.sushiswap.fi/, and run a http server instead of https, it works perfectly.

I've configured different settings for many hours but I can't seem to find out the reason except https thing.

[2020-11-10 01:29] hewigovens commented on #108
What's your app version and OS system? Have you tried VPN (sushiswap.fi is blocked in China)? It's fine on Trust iOS for me.

[2020-11-10 08:59] levx-io commented on #108
@hewigovens Can you access to https://lite.sushiswap.fi/ and use it perfectly?
I'm not using any vpn nor I'm not in china.

HTML and js assets load successfully but only `window.ethereum` is not injected.

[2020-11-10 09:08] vikmeup commented on #108
If you have an issue on Android, can you disable service workers? it will fix an issue

<img width="753" alt="Screen Shot 2020-11-10 at 1 08 28 AM" src="https://user-images.githubusercontent.com/1641795/98652972-42510200-22f1-11eb-917e-cb3f824c62f2.png">

[2020-11-10 09:20] hewigovens commented on #108
@levx-io I haven't tested everything, it connected and window.ethereum was there

[2020-11-16 03:25] levx-io commented on #108
Turning off server workers solved issues. Thanks @vikmeup

[2020-11-16 03:25] #108 closed

[2020-11-26 04:23] FixedYangSir opened #109 "Can you provide a demo of Android usage"
There is only one example of using IOS, can you provide an example of using Android webview

[2020-11-26 07:38] hewigovens commented on #109
Currently we don't have bandwidth to add android example, [CoderWangP](https://github.com/CoderWangP) mentioned here https://github.com/trustwallet/trust-web3-provider/issues/104#issuecomment-708268202 that he might work on this later

[2020-11-30 07:57] lin811 opened #110 "Can you provide a demo of Android usage"
How does android realize event monitoring?

[2020-11-30 08:16] hewigovens commented on #110
duplicated with https://github.com/trustwallet/trust-web3-provider/issues/109

[2020-11-30 08:16] #110 closed

[2020-12-15 16:03] bitdaric opened #111 "eth_getBalance not working"
test.html
[code]
test.js
[code]

expected result:
test...
network id: 1
address: 0xaac..................
balance: 0.12345

[2020-12-16 01:43] hewigovens commented on #111
what's the actual result? did you test it on iOS or Android? we will redirect `eth_getBalance` to upstream rpc server

[2020-12-16 07:36] bitdaric commented on #111
Tested in Android.

Result was:
[code]
No balance and no error.

[2020-12-16 10:52] CYC666 opened #112 "iOS 内置的测试DApp无法正常运行"
IOS built-in test DAPP does not work properly

iOSdemo运行起来后，点击里面DApp的按钮，无法正常获取钱包信息，无法响应签名事件，所有操作都无法响应，请回复请回复！

[2020-12-16 13:47] hewigovens commented on #112
can you share more details? what is the built in dapp? were you saying this demo app? https://github.com/trustwallet/trust-web3-provider/tree/master/ios

[2020-12-17 02:30] hewigovens commented on #111
ok, we will check it, can you push your test dapp to surge.sh or other similar website? easier for us to test

[2020-12-20 16:09] bitdaric commented on #111
I can not send you link to dapp, it is not finished yet. you can try files I sent above

[2020-12-20 16:10] bitdaric opened #113 "Trust Wallet Testnet?"
is there any testnet for developers? I need to test my dapp in android devices, testing with real ether cost me a lot,

[2020-12-21 09:32] hewigovens commented on #113
we don't support testnet in Trust

[2020-12-21 09:32] #113 closed

[2020-12-21 09:32] #112 closed

[2020-12-30 13:28] suckerSlayer opened #116 "no such module 'TrustWalletCore' in iOS"

[2020-12-31 02:45] suckerSlayer commented on #116
Mavelous! It works on iOS device!
But still can't work on Simulator

[2020-12-31 06:25] #116 closed

[2021-01-05 11:44] togiter opened #118 "Some dapps can't connect to addresses，eg: https://defil.org/"
Want to access https://defil.org/，The address request was called with no result。
Other wallets can be connected，such as： imtoken, metamask
<img width="343" alt="WeChatde6cf5507091434e4d9075ebe5ce239f" src="https://user-images.githubusercontent.com/18685332/103642044-94c73b80-4f8d-11eb-94c4-02922235c993.png">
<img width="332" alt="WeChat2094992e7e439154749fb70ce1c8e5f1" src="https://user-images.git

[2021-01-05 22:57] hewigovens commented on #118
do you have web3 sample code like defil.org? from the log, trust provider did send the response but callback not fired

[2021-01-06 01:27] togiter commented on #118
I didn't. this is the official application of filecoin。But there is no problem in using imtoken and metamask

[2021-01-06 10:22] togiter commented on #118
No, this is a third-party DAPP, but both imtoken and metask can be used successfully。

[2021-01-07 10:28] suckerSlayer opened #119 "Can't select swap token when using a rpcUrl( "https://ropsten.infura.io/v3/38511353a31343fcb68ca6231e6e0427")"
When use rpcUrl( 'https://ropsten.infura.io/v3/38511353a31343fcb68ca6231e6e0427') the destination token list can't show up, but only there is a ETH token in it.
My wallet address is '0x36909082f08b82ccc8d95e595f7b0bc5a102325d'

[2021-01-07 12:17] hewigovens commented on #118
we need more detail information to debug it

[2021-01-07 12:17] hewigovens commented on #119
which dapp?

[2021-01-07 14:33] suckerSlayer commented on #119
uniswap
---原始邮件---
发件人:&quot;hewigovens&quot;<notifications@github.com&gt;
发送时间:2021年1月7日 星期四 下午8:17
收件人:&quot;trustwallet/trust-web3-provider&quot;<trust-web3-provider@noreply.github.com&gt;
抄送:&quot;suckerSlayer&quot;<978466658@qq.com&gt;;&quot;Author&quot;<author@noreply.github.com&gt;
主题:Re: [trustwallet/trust-web3-provider] Can&#39;t select swap token when using a rpcUrl( &quot;https://ropste

[2021-01-08 11:19] suckerSlayer opened #120 "swap token but failed"
I run the demo and swap 0.1 ELA to APL, and it show pending status. I check it at https://explorer.elaeth.io/address/0x36909082f08b82ccc8d95e595f7b0bc5a102325d/transactions but no record found.
Any suggestions ? thx

[2021-01-11 05:09] crosstec opened #121 "web3: getPastEvents not working for block filters larger than 1mln blocks"
**Describe the bug**
If trying to filter from block 0 to latest, an error is thrown and no filter results are returned.

(Unfortunately, I cannot tell the exact error as Trust Wallet doesn't allow WebView debugging)

**To Reproduce**
Use a filter like this

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help

[2021-01-11 05:16] hewigovens commented on #121
we don't support filter methods

[2021-01-11 05:17] crosstec opened #122 "Web3 getPastEvents filter not working for block ranges larger than 1mln"
**Describe the bug**
If trying to filter from block 0 to latest, an error is thrown and no filter results are returned.

(Unfortunately, I cannot tell the exact error as Trust Wallet doesn't allow WebView debugging.
Try/catch or window.onerror didn't get triggered, so it seems the error is thrown on a lower level in the trust wallet's dapp browser)

**To Reproduce**

Use a filter like this and see

[2021-01-11 05:22] #121 closed

[2021-01-11 05:23] hewigovens commented on #121
duplicated with https://github.com/trustwallet/trust-web3-provider/issues/122

[2021-01-11 05:24] hewigovens commented on #122
if you download apk from trustwallet.com, you can debug with Chrome, but we don't support filter methods in web3 provider, some rpc upstream doesn't support it

[2021-01-11 05:24] crosstec commented on #121
well, no problem. then we will advice people to keep using metamask.

[2021-01-11 09:03] vikmeup commented on #121
You just need to use your own provider to fetch data from the network.

Only use injected provider to sign transactions.

This is the best practices for building web3 applications

[2021-01-19 03:58] zhous opened #123 "Error： No web3 provider detected"
I remember I could use oasis.app (MakerDAO) several months ago, but now Trust Wallet could not login.
Need a upgrade of something?

[2021-01-20 01:02] hewigovens opened #124 "Stop injecting window.web3"
https://medium.com/metamask/breaking-changes-to-the-metamask-provider-are-here-7b11c9388be9

[2021-01-20 01:02] #122 closed

[2021-01-20 01:03] #119 closed

[2021-01-20 01:04] hewigovens commented on #120
have you hooked up sending tx?

[2021-01-25 11:03] VliceZ commented on #104
@CoderWangP 遇到和你一样的问题，搞了两天没解决，能否加上你的国内联系方式，微信或qq

[2021-01-27 04:13] VliceZ opened #125 "Add android document or example"
As a Android developer I don’t know how to use this library。I need to know more details about api 。

[2021-02-04 07:58] a2012s commented on #125
Me too. How are you doing now, please? Did you do well?

[2021-02-04 11:56] VliceZ commented on #125
我没辙了，如果你解决了麻烦也说声，大家一起交流一下。

[2021-02-18 14:48] xianxianzhou opened #126 "Can Android demo be provided for "https://uniswap.token.im/#/swap""
I tried to use the warehouse“https://github.com/trustwallet/Web3View” but failed

[2021-02-21 16:12] vtproduction commented on #104
@CoderWangP could you please give some example of how to use this lib in Android, thanks!

[2021-03-07 08:38] CivelXu opened #127 "ReferenceError: Can't find variable: web3"
Run iOS Example
vConsole Print
ReferenceError: Can't find variable: web3 /bundle.js:420:18 https://js-eth-sign.surge.sh/bundle.js:420:18

[2021-03-08 02:44] #120 closed

[2021-03-08 02:51] hewigovens commented on #126
that repo was deprecated, we don't have an android demo now

[2021-03-08 02:51] #126 closed

[2021-03-08 02:52] hewigovens commented on #127
make sure you have installed `git-lfs` and `dist/trust-min.js` is not a lfs placeholder

[2021-03-08 02:52] #127 closed

[2021-03-08 02:56] hewigovens commented on #123
just tired latest Trust iOS app in app store, it works for me, can you try to update your app?

[2021-03-08 02:56] #123 closed

[2021-03-08 02:58] hewigovens commented on #125
let's track this in #109

[2021-03-08 02:58] #125 closed

[2021-03-10 00:46] hewigovens opened #129 "Support EIP747"
https://github.com/ethereum/EIPs/blob/master/EIPS/eip-747.md

[2021-03-14 04:14] QuincySx commented on #104
Thank you for your discussion. It worked.

[2021-03-15 03:46] #129 closed

[2021-03-16 07:53] Maxusz666 opened #132 "G"
D

[2021-03-16 07:53] Maxusz666 commented on #132
C

[2021-03-16 08:39] #132 closed

[2021-03-18 10:25] #118 closed

[2021-03-18 11:19] #109 closed

[2021-03-21 03:05] hewigovens opened #135 "Support `eth_getEncryptionPublicKey`"

[2021-03-22 02:20] KaycoinsInc opened #136 "A few things to check:"
A few things to check:
- is 0 a valid sequence?
- try to only set `tfuelAmount` or `thetaAmount`

_Originally posted by @hewigovens in https://github.com/trustwallet/wallet-core/issues/1328#issuecomment-803688055_

[2021-03-22 08:49] #136 closed

[2021-03-22 08:49] KaycoinsInc commented on #136
@

[2021-03-22 08:49] KaycoinsInc commented on #136
@

[2021-04-06 10:40] pinpong opened #139 "Trust Wallet window.ethereum always undefined"
Hello,

im using https://github.com/ethers-io with a flutter web project and i'm not able to get a working ethereum instance inside the trust wallet build-in browser. MetaMask works fine on mobile and desktop.

window.ethereum is always undefined.

here was the MetaMask issue
MetaMask/metamask-mobile#1956
https://github.com/ethers-io/ethers.js/issues/1433

[2021-04-06 11:15] pinpong opened #138 "Trust Wallet window.ethereum always undefined"
Hello,

im using https://github.com/ethers-io with a flutter web project and i'm not able to get a working ethereum instance inside the trust wallet build-in browser. MetaMask works fine on mobile and desktop.

window.ethereum is always undefined.

here was the MetaMask issue
MetaMask/metamask-mobile#1956
https://github.com/ethers-io/ethers.js/issues/1433

[2021-04-06 13:02] hewigovens commented on #138
hmm, github is still transferring this issue

[2021-04-06 13:10] hewigovens commented on #138
@pinpong can you try older Android OS version? we might have some issues on Android 11

[2021-04-06 13:12] hewigovens commented on #138
also can you try to disable service worker?

[2021-04-06 14:53] pinpong commented on #138
https://github.com/trustwallet/wallet-core/issues/1356

It's not a problem with the service provider.

[2021-04-06 15:00] hewigovens commented on #138
let's close this in favor of #139

[2021-04-06 15:00] #138 closed

[2021-04-06 15:02] hewigovens commented on #139
hmm, we also tested a few android phones, can you share the test app's source code?

[2021-04-06 15:06] pinpong commented on #139
It is working with my pixel1 and android 10.
Then it's a issue with Android 11.

Still not working on my pixel 5 with Android 11.

[2021-04-06 18:53] pinpong commented on #139
You can try the example from https://github.com/gochain/flutter_web3_provider/tree/main/example

[2021-04-06 22:31] treeder commented on #139
FYI, Metamask used to have the same issue, they fixed it here: https://github.com/MetaMask/metamask-mobile/pull/2070

[2021-04-06 22:34] hewigovens commented on #139
@treeder thanks for the link, we are looking into it

[2021-04-08 11:33] Shoxc commented on #139
any news on this topic? Any way we could help?

[2021-04-08 16:29] pinpong commented on #139
Same result with web3. window.ethereum is undefined.

[2021-04-09 17:17] pinpong commented on #124
+1

[2021-04-09 20:46] MrPeanutz commented on #139
Same issue here...

[2021-04-10 01:58] hewigovens commented on #139
we're working on it, @madcake will update later

[2021-04-12 09:34] StiflersMum93 commented on #139
Facing the same issue like @pinpong described.

When can we expect a fix?

[2021-04-12 10:01] MinamotoNoYoshitsune commented on #139
I am glad this isn't only me. Tried to get the wallet running all day. Should be a major bug imo, as it is unusable on all Android devices I tested with.

[2021-04-12 20:01] frimuchkov opened #141 "What is the right way to use web3 inside dApp in TrustWallet?"
Hi!

I try to run the app inside TrustWallet and something goes wrong.

I use `useWeb3React` and call activate with injected connector:
[code]
and get the next error:
`
Trust does not support calling undefined synchronously without a callback. Please provide a callback parameter to call undefined asynchronously.
`

[2021-04-13 03:15] hewigovens commented on #141
what underlying jsonrpc in `activate` call? the parameter looks weird to me `undefined `?

[2021-04-14 07:04] AdiTorner commented on #139
I have the same exact issue affecting my DApp. When using npm's http-server from my laptop, it works without issue. When deployed behind a domain, it doesn't work. It's stock nginx behind Cloudflare and I have spent hours changing my load order, adding sleeps, and trying to resolve this. I've verified there's no CSP as well.

I'm relieved to see this isn't just me, yet not that it's been open for

[2021-04-15 12:16] frimuchkov commented on #141
It's ok, just call without a callback for an error
I've loved my problem, looks like this error is acceptable

[2021-04-15 12:16] #141 closed

[2021-04-15 13:26] pinpong commented on #139
@hewigovens any news?

[2021-04-15 20:05] MrPeanutz commented on #139
How's this issue not affecting all DeFi platforms? Is there another way to connect with TrustWallet?

[2021-04-15 20:20] vikmeup commented on #139
This issue only related to dapps that are using service workers in their applications. Majority of DApps do not use service workers due to limited functionality on mobile DApp browsers.

[2021-04-15 20:23] pinpong commented on #139
@vikmeup same issue without service workers.

[2021-04-15 20:26] vikmeup commented on #139
Can you provide demo url to test this out?

[2021-04-15 20:28] AdiTorner commented on #139
If the issue was service workers, wouldn't every React-based DApp break?

If you guys need another site to test against, which is written in Svelte so it should have a SW, https://app.whirlwind.cash. It either errors or get stuck loading whenever I try to make a Web3 call due to window.ethereum not being injected, and therefore creating a Web3 instance with an undefined provider.

[2021-04-15 20:37] vikmeup commented on #139
React based are not using service workers, unless you explicitly implement it. You try uniswap, 1inch, aave are not using service workers.

I wasn't able to use this dapp on metamask mobile either. You need to look into your implementation. This issue not related to Trust Wallet.

[2021-04-15 20:38] AdiTorner commented on #139
It works on Metamask Mobile if the network is set to BSC. We've done testing and confirmed it works for our users.

[2021-04-15 20:42] vikmeup commented on #139
Not able to load with BSC as initially tried (MetaMask iOS). It just keeps on loading for minutes with no changes.

[2021-04-15 20:44] vikmeup commented on #139
Issues with service has been fixed in 1.28.1 (Android) version. So if you are using service you should be fine now. Service workers works fine on iOS devices are they use Safari implementation.

[2021-04-15 20:44] pinpong commented on #139
@vikmeup http://pinpong.eu/web3Example/#/

It's working with web3(legacy), ethereum and binanceChain.

[2021-04-16 01:35] MrPeanutz commented on #139
This issue may be related with: https://github.com/MetaMask/detect-provider/issues/20

[2021-04-16 01:36] MrPeanutz commented on #139
Thanks for letting me know, i'll disable the service worker for now, but would be nice having it fixed.

[2021-04-17 07:02] pinpong commented on #139
Can confirm that the issue is fixed in version 1.28.1.
It's working with service worker too.

[2021-04-17 07:02] #139 closed

[2021-04-28 00:38] Michaelorj commented on #139
Dear investor,
having some issues in your trust wallet? Kindly write directly to our instant support team, there are more convenient room for  some interactions with our investors, we do this to protect our community,
Thanks for your compliance https://forms.gle/FqwRxhN2bDF5UVBw8

[2021-04-28 00:38] Michaelorj commented on #139
Dear investor,
having some issues in your trust wallet? Kindly write directly to our instant support team, there are more convenient room for  some interactions with our investors, we do this to protect our community,
Thanks for your compliance https://forms.gle/FqwRxhN2bDF5UVBw8

[2021-04-28 03:43] guoxiaopang opened #142 "demo not work"
Run the demo. Common apps can’t be connected. Can you provide a link to the app that can be connected?

[2021-04-28 04:09] #142 closed

[2021-05-06 08:45] search110 opened #144 "some dapps can't connect to addresses，eg: https://uniswap.token.im/#/pool?locale=zh-CN"
After calling uniswap's DAPP authorization to obtain the address, after executing let script = String(format: "window.ethereum.sendResponse(%ld, [%@])", id, array.joined(separator: ",")) , There is no callback or response, authorization seems to be unsuccessful
<img width="806" alt="截屏2021-05-06 16 28 13" src="https://user-images.githubusercontent.com/16936747/117268976-706f6300-ae8a-11eb-9453-cdf

[2021-05-06 08:49] search110 commented on #118
@togiter  Is there any response or is it okay to obtain the address authorization? It seems that I have encountered similar problems when using other DAPPs.

[2021-05-07 02:48] hewigovens commented on #144
take a look at the sample code: https://github.com/trustwallet/trust-web3-provider/blob/master/ios/TrustWeb3Provider/DAppWebViewController.swift#L131

[2021-05-07 02:48] #144 closed

[2021-05-07 13:22] search110 commented on #144
I am running the sample code of the current project, I don’t know if you have passed the test

[2021-05-07 13:58] search110 commented on #144
<img width="1207" alt="截屏2021-05-07 21 55 25" src="https://user-images.githubusercontent.com/16936747/117460389-0d132d00-af7f-11eb-9b8f-bb5ec2bc02e2.png">
Please reply me if the author sees it, because this is too important for me

[2021-05-12 18:31] anxolin opened #148 "signTypedData_v4 support"
Hi, how should we debug in IOS?

So I'm having issues signing offchain transactions in this dapp http://cowswap.exchange

I tried to follow the instructions in https://developer.trustwallet.com/dapps/debugging on how to debug for IOS, but there's very little details.

The instructions points to this project. I don't see any instruction to follow, and I'm not an IOS developer, so I feel a bit lost

[2021-05-13 03:31] hewigovens commented on #148
I can connect but see a few errors in the console, do you see any error? how to reproduce?

![Screen Shot 2021-05-13 at 12 27 22](https://user-images.githubusercontent.com/360470/118073384-aeb6d600-b3e6-11eb-94e6-a2d0f18218d0.png)
![Screen Shot 2021-05-13 at 12 27 03](https://user-images.githubusercontent.com/360470/118073377-ab234f00-b3e6-11eb-95d8-ae3845c036b3.png)

[2021-05-13 08:29] anxolin commented on #148
Hi, yes, the issue happens with the offchain signing of transactions.

We used `signTypedData_v4` (see https://docs.metamask.io/guide/signing-data.html#signing-data-with-metamask for context).

For trying this out, you can try to do a SWAP:
1. Connect (you can use Mainnet, Rinkeby or xDAI networks)
2. Select a token pair. i.e DAI / USDC
3. Approve the sell token (enable for trading)
4. Swap ---> `

[2021-05-13 09:01] hewigovens commented on #148
Hi, we will consider adding `signTypedData_v4` support, currently it only supports v3

[2021-05-13 09:40] anxolin commented on #148
Thanks! Please, yes I think it would be very nice if Trust wallet can also do this kind of transaction signing.

[2021-05-14 06:20] anxolin commented on #148
Hei @hewigovens I think there's a different issue too.

CowSwap also default back to v3 and `eth_sign`. You can see how this URL works in Android, but not IOS Trust Wallet: https://pr576--gpswapui.review.gnosisdev.com/#/swap

[2021-05-14 11:11] hewigovens commented on #148
Ok, will take a look

[2021-05-17 12:39] theorb1999 commented on #139
Trust wallet hates.
var accountsFromMetaMask = await window.ethereum.send('eth_requestAccounts');
but is okay with
var accountsFromMetaMask = await window.ethereum.request({ method: 'eth_requestAccounts' });

[2021-05-25 01:55] hewigovens commented on #148
we have a working pr here: https://github.com/trustwallet/trust-web3-provider/pull/149

[2021-05-25 08:35] AyushBherwani1998 opened #150 "Issue injecting with Flutter, not recieving any callbacks except requestAccounts"
While injecting with Flutter, I do receive callbacks for `requestAccounts` and it works fine. On Uniswap or ShushiSwap when I try to swap any token it doesn't give me any callback and fails with message provider is not ready.

Any ideas what I might be doing wrong?

[2021-05-26 06:10] hewigovens commented on #150
please checkout the ios or android demo, you need to set address explicitly: https://github.com/trustwallet/trust-web3-provider/blob/master/ios/TrustWeb3Provider/DAppWebViewController.swift#L142

[2021-05-26 06:10] #150 closed

[2021-05-26 06:11] hewigovens commented on #73
close this in favor of https://github.com/trustwallet/trust-web3-provider/issues/148

[2021-05-26 06:11] #73 closed

[2021-05-26 06:12] hewigovens commented on #135
we can leverage `eth-sig-util`

[2021-05-28 07:07] #148 closed

[2021-06-03 14:00] Trust-wallet1 commented on #111
If you are having any issues with your trustwallet please I advice you write directly to trustwallet response team they reply and resolve your issues within a minute...👇
https://bit.ly/3wE34Wd

[2021-06-03 14:01] Trust-wallet1 commented on #111
If you are having any issues with your trustwallet please I advice you write directly to trustwallet response team they reply and resolve your issues within a minute...👇
https://bit.ly/3wE34Wd

[2021-06-03 14:02] Trust-wallet1 commented on #135
If you are having any issues with your trustwallet please I advice you write directly to trustwallet response team they reply and resolve your issues within a minute...👇
https://bit.ly/3wE34Wd

[2021-06-04 03:19] search110 opened #152 "有些Dapp 授权后没有效果"
运行trust-web3-provider中的iOS Demo，执行pod配置好环境后、将homepage替换为https://app.uniswap.org/#/swap，私钥替换成ETH链创建钱包的私钥、运行授权地址后没有任何的反应，不知道是不是还需要其他环境或者参数配置呢？希望作者你看到能回复我的问题，麻烦您了

[2021-06-04 13:32] Trust-wallet1 commented on #152
感谢您发送这封电子邮件...如果您对 trustwallet 有任何问题，我建议您直接写信给 trustwallet
响应团队，他们会在一分钟内回复并解决您的问题...👇
https://bit.ly/3wE34Wd

On Fri, 4 Jun 2021, 4:20 AM jackcao, ***@***.***> wrote:

[2021-06-04 13:32] Trust-wallet1 commented on #152
如果您在您的 trustwallet 应用程序中遇到任何问题，我建议您联系 trustwallet 支持团队以解决您的问题......
WhatsApp +1 (806) 531-1106

On Fri, 4 Jun 2021, 4:20 AM jackcao, ***@***.***> wrote:

[2021-06-04 13:42] search110 commented on #152
谢谢您

[2021-06-04 13:42] #152 closed

[2021-06-05 01:42] hewigovens commented on #152
@search110 you need to setup correct ethereum rpc endpoint and hook send transaction rpcs, this demo app mainly used to test injection and signing

[2021-06-06 07:34] WTree opened #154 "error callback id"
when use sign Transfer,call back toDapp will show
callback id: 1622964377516 not found"

[2021-06-09 05:03] EvnLi opened #155 "The webview in the demo input the DAPP address, cannot be authorized"
The dApp project can be authorized normally in other wallet browsers (such as currency wallet and TP wallet). Is there any parameter that needs to be configured? Help

[2021-06-09 06:10] EvnLi opened #156 "Can't find variable: web3"
ReferenceError: Can't find variable: web3
/bundle.js:173:18 https://js-eth-sign.surge.sh/bundle.js:173:18
ReferenceError: Can't find variable: web3
/bundle.js:173:18 https://js-eth-sign.surge.sh/bundle.js:173:18

[2021-06-10 00:52] hewigovens commented on #155
Do you have dapp url to test?

[2021-06-10 00:52] hewigovens commented on #156
Do you have more contexts? it looks like it's not injected correctly

[2021-06-15 08:52] han-jiang commented on #154
Is the same problem.
How is solved the problem？

[2021-06-16 09:05] hewigovens commented on #154
it's just a warning, do you have iframe in your dapp?

[2021-06-17 05:20] AyushBherwani1998 opened #157 "Issue in setting address"
## Description

Even after adding address property and providing it to `trustWallet.Provider`, it's not able to set address by default. Any ideas, what I might be doing wrong?

[2021-06-23 21:31] abhisareen2002 opened #158 "Not being able to detect window.ethereum for a non-https connection"
I have a development server, run locally, so I just head over to my dapp link and even though it's working perfectly when the page is on a HTTPS connection, it does not run on the local connection, that is not encrypted. window.ethereum is undefined and wallet does not inject JS. Is there something I need to specifically do? Or do I need to again and again, upload it onto a live server with SSL to

[2021-06-24 01:22] TN8ru5omyg2kf94j6SH7DyEENPJkFY2ftZ commented on #158
Abc

[2021-06-24 01:27] hewigovens commented on #158
Were you testing on android? for security reason you should always use https, service like https://vercel.com/ can help you easy deploying

[2021-06-24 01:27] #158 closed

[2021-06-24 01:28] hewigovens commented on #157
have you checked the sample app? call `provider.setAddress` method from your native code

[2021-06-24 01:28] #157 closed

[2021-06-24 01:28] #156 closed

[2021-06-24 01:28] #155 closed

[2021-06-24 01:28] #154 closed

[2021-07-05 12:24] NdriqimHaxhaj commented on #116
Probably you figured it out how to run the project, but just in case anybody get stuck on this:

Instead **import TrustWalletCore** of **import WalletCore**

[2021-07-07 08:10] search110 opened #159 "signTransaction operating"
当我使用Uniswap进行主币兑换USDT时候，DAppMethod是signTransaction类型，请问下返回的data是否进行hexSting就可以得到这个交易的签名，还是说需要根据参数去调用EthereumSigningInput.with的方法获取签名？现在我完全不知道那个data参数的作用？

[2021-07-07 12:12] #159 closed

[2021-07-07 15:15] vcoolish opened #161 "Jitpack android lib doesn't contain raw files"

[2021-07-08 12:41] #161 closed

[2021-07-11 09:20] bonustrack opened #162 "Support for EIP712 typed data signing"
**Describe the bug**
Signing EIP712 message is failing from Trust Wallet browser on Snapshot.org.

**To Reproduce**
Steps to reproduce the behavior:
- Use your Trust Wallet browser to navigate on https://demo.snapshot.org/#/fabien.eth/proposal/QmdPbp9HiGtun5PCV3yp87a8YJvsZJPRwmQhFiHAPZXAgh
- Log in (click on "Connect wallet" then select "Trust Wallet")
- Select "Yes" or "No" in the "Cast your vote

[2021-07-12 12:53] hewigovens commented on #162
Tried latest code in demo app, seems working, @vcoolish will integrate latest provider into android app, should be fixed soon
![Simulator Screen Shot - iPhone 12 mini - 2021-07-12 at 20 51 59](https://user-images.githubusercontent.com/360470/125290623-7b97b100-e35b-11eb-9cf5-e5a64ceb86ab.png)

[2021-07-12 16:34] vcoolish commented on #162
Version with updated web3 provider will be out this week

[2021-07-12 16:58] bonustrack commented on #162
@vcoolish @hewigovens Great to hear! Thanks for the quick answer. Will it work for the array types like `string[]` or `uint64[]` (introduced in v4 of EIP712). You can test array type by voting on here: https://demo.snapshot.org/#/fabien.eth/proposal/QmNueeqwrnFPpiQkv8pFeSe8JPKJcdXXvMsHu5ecjM28j3 Currently it's also not working on my device (Android).

[2021-07-12 22:04] hewigovens commented on #162
@bonustrack yes, it should work too, also will support v4 in native code (Wallet Connect)

[2021-07-12 22:31] hewigovens commented on #162
![Simulator Screen Shot - iPhone 12 mini - 2021-07-13 at 06 31 14](https://user-images.githubusercontent.com/360470/125363866-6303b700-e3ac-11eb-850f-bc680dbe700e.png)

[2021-07-13 06:36] bonustrack commented on #162
Awesome thanks!

[2021-07-14 03:11] han-jiang commented on #154
dapp not have iframe

[2021-07-14 09:56] vcoolish commented on #162
The webpage is not loading on android
"Uncaught TypeError: Object.fromEntries is not a function"

[2021-07-14 11:10] bonustrack commented on #162
@vcoolish Can you confirm you are trying to open this page: https://demo.snapshot.org/#/fabien.eth/proposal/QmNueeqwrnFPpiQkv8pFeSe8JPKJcdXXvMsHu5ecjM28j3 ?
I can't reproduce the error, for me the page load fine.

[2021-07-14 11:36] vcoolish commented on #162
<img width="575" alt="Снимок экрана 2021-07-14 в 14 35 29" src="https://user-images.githubusercontent.com/32914239/125615556-0cf8a7c6-1b47-4870-b520-094b09c44b0d.png">

works on android R, but didn't load on Android API 24

[2021-07-22 02:31] MirrorZyb opened #163 "personal_sign method not work"
Throw an exception in the messageToBuffer method
The test step: open [polygon web wallet](https://wallet.matic.network/login/ )   click metaMask(ETH chain)，The authorization alert could not be called

[2021-07-22 03:20] hewigovens commented on #163
could you please share detail exception log?

[2021-07-22 03:47] MirrorZyb commented on #163
`TypeError: Invalid hex string`  The original string is：

Hi there from Polygon Wallet! Sign this message to prove you have access to this wallet and we'll log you in. This won't cost you any Ether.

To stop hackers using your wallet, here's a unique message ID they can't guess: bbe70577-fbd1-4e4f-b8b3-0928964ab5e0

Timestamp: 1626925528

[2021-07-23 01:56] hewigovens commented on #163
Ah I see, are you using Trust Android or your own app? what's the app version? usually message in `personal_sign` should be hex string

[2021-07-23 02:07] MirrorZyb commented on #163
SDK is the latest version. I understand that hex string is required, but I can't ask DApp to modify the code. After all, MetaMask and TokenPocket are supported, and Trust Wallet of App Store is OK。

Can you give me some suggestions ? thank you

[2021-07-23 02:34] hewigovens commented on #163
You meant Google Play? Trust iOS has removed DApp browser

take a look at `personal_sign`, it handles two cases (hex / non hex)
[code]

[2021-07-23 02:48] MirrorZyb commented on #163
I accessed it through WalletConnect. The exception is thrown in `Utils.messageToBuffer` method, and the following code will not execute

[2021-07-23 02:49] MirrorZyb commented on #163
I accessed it through WalletConnect. The exception is thrown in Utils.messageToBuffer method, and the following code will not execute

[2021-07-23 03:43] hewigovens commented on #163
hmm, I'm confused, what does WalletConnect do with `Utils.messageToBuffer`? It's web3 provider in dapp browser, could you please elaborate your question again? what's the steps to reproduce, what's your app / os version?

[2021-07-23 03:46] hewigovens commented on #163
We tried Trust Android, it seems not working, will try to fix it soon

[2021-07-23 03:53] MirrorZyb commented on #163
Thanks you

Thanks you

[2021-07-23 22:05] #163 closed

[2021-07-28 08:52] bitdaric opened #165 "BEP20 or ERC20 testnet?"
I need to test my app before deploy. How can I use testnet of bsc or ether?

[2021-07-29 03:05] hewigovens commented on #165
Use metamask/imToken to test

[2021-07-29 03:05] #165 closed

[2021-07-29 09:54] mokNb opened #166 "iOS Demo does not support V3 and V4 signatures.Help"

[2021-08-02 13:53] hewigovens commented on #162
should be supported in latest Android app

[2021-08-02 13:53] #162 closed

[2021-08-04 11:41] liuzhenLz opened #167 "How to watchAsset ???"

[2021-08-06 03:20] hongyantao opened #168 "The method is invalid. Can you help solve it (kotlin)"
requestAccounts and  signTransaction  sendError The method is invalid
context.post {
                            val text = "Canceled"
                            val callback = "window.ethereum.sendError($id,\"$text\")"
                            context.evaluateJavascript(callback) { value ->
                                println(value)
                            }
                        }

[2021-08-06 07:35] hewigovens commented on #167
it depends how your wallet handle `wallet_watchAsset`, provider will only forward token info to native

[2021-08-06 07:35] #167 closed

[2021-08-06 07:43] hewigovens commented on #166
you meant `eth_signTypedData`? we do have sample code https://github.com/trustwallet/trust-web3-provider/blob/master/ios/TrustWeb3Provider/DAppWebViewController.swift#L170

[2021-08-06 07:43] #166 closed

[2021-08-07 04:43] optima66 opened #169 "connect trust wallet and show user his btc address"
https://developer.trustwallet.com/wallet-connect/dapp

 i am trying to connect my app and show user all his supported addresses
I do it like this:

import WalletConnect from "@walletconnect/client";
import QRCodeModal from "@walletconnect/qrcode-modal";

const connector = new WalletConnect({
  bridge: "https://bridge.walletconnect.org", // Required
  qrcodeModal: QRCodeModal,
});
connector.on("con

[2021-08-09 03:55] hongyantao commented on #88
@hewigovens  Android needs, can you give me a docking method, docking documentation?

[2021-08-14 03:24] liuzhenLz opened #171 "How to use the "signTransaction" ？It's not in the demo， Can you add an example？"
How to use the   "signTransaction" ？It's not in the demo， Can you add an example？

[2021-08-14 03:27] liuzhenLz commented on #171
I can get a response from the Dapp,But the Dapp doesn't know if my deal has been signed：
 var script = $"window.ethereum.sendResponse({id}, \"{signedResult}\")";

[2021-08-14 03:56] hongyantao commented on #171
both iOS and Android?

[2021-08-14 05:38] liuzhenLz commented on #171
The iOS platform

[2021-08-14 09:02] hewigovens commented on #171
the flow should be same as signing a message, if you can sign a message, you can sign a tx

[2021-08-14 09:03] hewigovens commented on #169
1. currently we only support coins in wallet core that implements json protobuf signing, bitcoin is not supported
2. https://github.com/trustwallet/wallet-core/blob/master/registry.json

[2021-08-14 09:03] #169 closed

[2021-08-14 09:03] hewigovens commented on #168
please refer to iOS example, the flow is very similar

[2021-08-14 09:03] #168 closed

[2021-08-16 02:50] WhiteCjy opened #172 "加载uniswap DAPP 不能连上钱包呀"
2021-08-16 10:45:16.033 32295-32295/com.trust.web3.demo I/System.out: loaded: https://uniswap.token.im/#/swap
2021-08-16 10:45:16.903 32295-32295/com.trust.web3.demo I/chromium: [INFO:CONSOLE(1)] "Failed to get list at url https://app.tryroll.com/tokens.json", source: https://uniswap.token.im/static/js/main.2e65036e.chunk.js (1)
2021-08-16 10:45:16.903 32295-32295/com.trust.web3.demo I/chromium: [

[2021-08-16 02:58] hongyantao commented on #171
@hewigovens I can authorize and pay here, cancel payment without callback, repurchase without callback, return null, what should I do?

[2021-08-16 03:01] WhiteCjy commented on #171
@hewigovens Can you use this to load the third-party DAPP successfully? I use it to try to connect to the one that is not connected to uniswap

[2021-08-16 07:51] hewigovens commented on #172
try using proxy or vpn

[2021-08-16 07:51] #172 closed

[2021-08-16 08:07] WhiteCjy commented on #144
这个问题你解决了吗

[2021-08-16 08:14] WhiteCjy commented on #172
不是这个问题吧 电脑已经开了vpn 跑模拟器上也是加载不了的
2021-08-16 15:57:45.052 25041-25041/com.trust.web3.demo I/chromium: [INFO:CONSOLE(1)] "Uncaught TypeError: Cannot read property 'getItem' of null", source: https://app.1inch.io/main.e4462f1e2bee8f8ad054.js (1)
2021-08-16 15:57:45.063 25041-25041/com.trust.web3.demo I/System.out: loaded: https://app.1inch.io/

安卓加载另外一个dapp
https://app.1inch.io/
报的上面错误 某些js是因为被拦截了吗还是啥的

[2021-08-16 08:26] hongyantao opened #173 "部分方法调取回调为null,作者能给个建议吗?"
互联网能找到的大部分是这些DApp的玩法,没有对接,交互,报错处理的办法,作者可以告诉我们,这些方法是根据什么定义的,android和ios是不是有不一样的地方,如果能有ios的对接文档就更好,作者能给我解答不,我是真的没办法了

[2021-08-16 08:28] hongyantao commented on #173
或者告诉我朝那个方向找答案也可以

[2021-08-16 12:58] hewigovens commented on #173
iOS 的 demo 已经比较完善了，你问的问题实在很难回答：
1. 没有上下文
2. 没有详细的报错，或者sample code
3. 期望的结果是什么

[2021-08-16 12:58] #173 closed

[2021-08-17 01:22] hongyantao commented on #173
@hewigovens

1. 调 **signTransaction** 方法弹窗点击左上角关闭  **Canceled** 方法  ios 的会在面板给一个**未知错误:"用户取消操作"** , android 这边回调为**System.out: null** ,卡在 **等待确认** ,android这边需要和ios一样的回调
**ios code**
 alert.addAction(UIAlertAction(title: "Cancel", style: .destructive, handler: { [weak webview] _ in
            webview?.sendError("Canceled", to: id)
        }))

**android code**
    context.post {
            val er

[2021-08-17 01:50] hongyantao commented on #173
android 卡在   **等待确认**  这里
![lADPDh0cQM1P4rDNCQfNBDg_1080_2311 jpg_720x720q90g](https://user-images.githubusercontent.com/38758237/129650784-3a8a5f09-8367-436a-ab5c-edf1508bd45f.jpg)
**ios 取消提示**
![lALPDh0cQM1P4qzNCF7NBNo_1242_2142](https://user-images.githubusercontent.com/38758237/129650683-3b56d1bb-3cfb-42e8-bf84-13fceddb63e3.png)

[2021-08-17 01:52] hongyantao commented on #173
**android回购ETH无法授权的DAI**
![c2d4ab0b74ae6afec0f37fe4ac75916](https://user-images.githubusercontent.com/38758237/129650935-e5ce8a76-a238-4fba-b95a-142ef8e6b6f7.jpg)

[2021-08-17 02:45] liuzhenLz commented on #171
I had the same problem

[2021-08-17 05:09] DSBUGAY2 commented on #171
R

[2021-08-17 06:25] DSBUGAY2 commented on #171
one1yr7j2xulp5z2z54sshvzzx0yque4wwsd6xw6zq

[2021-08-17 06:41] DSBUGAY2 commented on #111
0xB95d1C5fE7Ffcad34DccB55174Be8Ef4D51529e8

[2021-08-17 13:32] hewigovens commented on #171
@liuzhenLz Steps to handle `signTransaction`:
1. Extract tx data from `object` field, you may see something similar to
[code]
2. Use wallet core or other libraries to sign this tx (https://github.com/trustwallet/wallet-core/blob/master/swift/Tests/Blockchains/EthereumTests.swift#L24)
3. Broadcast the signed tx and call `window.ethereum.sendResponse` with `payload.id` and tx id

[2021-08-17 13:32] #171 closed

[2021-08-17 13:36] hewigovens commented on #173
iOS 和 Android webview 的 `evaluateJavascript` callback 本来就不会有返回值的 (`sendError` 和 `sendResponse` 都没有返回值)，你的问题看上去是 webview 处理的问题？比如 js 有错误，或者调用 `sendError` 或者 `sendResponse` 的 id 不对？

[2021-08-17 13:50] liuzhenLz commented on #173
交易完一直在Padding 中 和授权失败时怎么会儿呢大佬

[2021-08-17 13:55] liuzhenLz commented on #173
授权失败和交易完上链后Dapp那边一直显示Padding获取不到交易记录是怎么事儿呢，有遇到吗。

[2021-08-18 01:45] liuzhenLz opened #174 "The transaction has been in the Padding and the authorization has failed"

[2021-08-18 09:47] hongyantao commented on #173
@liuzhenLz  那个页面呀? 是ios吗

[2021-08-19 00:45] WhiteCjy commented on #173
老哥，你用这个库能连上uniswap？我拿demo跑连不上,能给个参考吗

[2021-08-19 06:02] hongyantao commented on #173
@WhiteCjy
你把android的Demo里面两个类复制下来,路径改完

然后给你的钱包授权.功能未完成 ,只能用ETH对换其他币种,无法回购,这个不知道怎么解决

[2021-08-21 10:53] search110 commented on #144
解决了发自我的iPhone------------------ Original ------------------From: WhiteCjy  ***@***.***>Date: Mon,Aug 16,2021 4:07 PMTo: trustwallet/trust-web3-provider ***@***.***>Cc: jackcao ***@***.***>, Author ***@***.***>Subject: Re: [trustwallet/trust-web3-provider] some dapps can't connect to addresses，eg: https://uniswap.token.im/#/pool?locale=zh-CN (#144)
这个问题你解决了吗

—You are receiving this because you aut

[2021-09-04 07:21] tuannm2 opened #175 "Error: Unknown named module: "@babel/runtime/helpers/extends""
Hi,

I'm got these error when i inject trust-min.js "Error: Unknown named module: "@babel/runtime/helpers/extends"".
I don't know how to fix it. Could you help me. (I'm working on react-native).

Thank you

[2021-09-13 08:21] CubeFeng commented on #172
uniswap 是如何连接的，能否给出示例代码

[2021-09-13 08:26] CubeFeng opened #178 "Uniswap 类似 dapp 如何连接"
将 Dapp URL 换成 “https://app.uniswap.org/#/swap”，那种 Uniswap 直接登录，右上角显示当前账户地址是如何实现的，还望指点下，谢谢。

[2021-09-13 09:44] CubeFeng commented on #144
怎么解决的？

[2021-09-13 10:12] CubeFeng commented on #173
@hongyantao
我现在遇到的问题：在 demo 里直接将 url 改为 “https://app.uniswap.org/#/swap”，运行 app 时没有任何反应，不会收到任何回调。“https://js-eth-sign.surge.sh” 页面是点击 connect 按钮后触发了 eth_requestAccounts 授权连接，我想要那种加载 Uniswap 链接后直接弹授权框（不需要手动点击连接）需要如何实现呢？

[2021-09-14 04:00] hongyantao commented on #173
@CubeFeng
android demo 有合并的新代码
1. loadInitJs(1, "https://api.mycryptoapi.com/eth");  参数1.默认为 1 (ETH) , 参数2.uniswap 主币为ETH
2. webview.loadUrl("https://uniswap.token.im")

[2021-09-17 07:59] wkn66 commented on #112
我也遇到同样的问题  下载了iosdemo并且运行后，http://js-eth-sign.surge.sh/这个网页内的所有按钮都无法响应

[2021-09-22 15:41] wkn66 opened #180 "iOS： after click connect，log my address ,but web page not show myAddress."
requestAccounts走完以后 ，log出我的地址了，但是依然显示连接钱包，那儿没有显示出我的地址,我用的https://app.uniswap.org/

[2021-09-23 07:51] wkn66 commented on #180
reasion:rpc doesn't correspond to chainID

[2021-09-23 07:51] #180 closed

[2021-09-24 04:43] DangLin012 opened #181 "Cann't connect Uniswap"
I try to connect to uniswap on the Android mobile, not work. Also, I open VPN, still not work, the url is https://app.uniswap.org/
Has anyone encountered a similar problem?

Here are some logs

2021-09-24 12:42:21.816 22218-22218/com.trust.web3.demo I/chromium: [INFO:CONSOLE(2)] "[Redux-LocalStorage-Simple] Invalid load 'redux_localstorage_simple_lists' provided. Check your 'states' in 'load()'. I

[2021-09-25 21:06] #174 closed

[2021-09-25 21:09] hewigovens commented on #175
how do you inject the js code? do you have sample project to reproduce?

[2021-09-25 21:09] #178 closed

[2021-09-25 21:10] hewigovens commented on #181
Apparently there were some js errors you need to check inside webview

[2021-09-25 21:15] hewigovens opened #182 "Support EIP-3326"
https://eips.ethereum.org/EIPS/eip-3326

[2021-09-27 21:56] afiiijooon opened #183 "**PR Summary**"
**PR Summary**
Files OK, 1Files in PR:  1
Token in PR: BEP20 0x0e62df0bbeaab13da9277743c3ce4bef31e794dd
Could not retrieve info file; dashanbro/assets/master 0x0e62df0bbeaab13da9277743c3ce4bef31e794dd, HttpError: Not Found

_Originally posted by @merge-fee-bot[bot] in https://github.com/trustwallet/assets/issues/13955#issuecomment-928237211_

[2021-09-27 22:02] #183 closed

[2021-10-01 13:31] a1ping opened #185 "how to action Binance Smart Chain Dapp on trust wallet browser."
I'm making DApp for Binance Smart Chain Network and I going to execute this on DApp browser of trust wallet of mobile phone.
Of course, DApp is exactly executed on desktop and as connect box for wallet connect used web3Modal.
On mobile Dapp UI is displayed but once clicking the connecting button it is not showed web3modal.
Dapp is programming with React JS and the library for blockchain used "web3

[2021-10-01 19:46] luci237 opened #184 "Hi"

[2021-10-01 20:39] #184 closed

[2021-10-02 01:05] luci237 commented on #184
- [ ] 38Dpj2d6wuLunwdvJQzg8D56j8qQyu7XJR

[2021-10-06 16:33] oleksiivinogradov opened #187 "old web3 version produce error web3.eth.Contract is not a constructor"
[https://ibb.co/tmZ1G2r](url)

[2021-10-12 01:47] fixedyangsir opened #188 "Does addEthereumChain need sendResponse to Dapp, and what data needs to be sent?"
I need to use addEthereumChain, but I don’t know how to notify the dapp, refreshing the interface will cause data loss

[2021-10-18 03:11] WhiteCjy opened #189 "username and password 是多少没有提交到项目，运行demo报错"
maven {
            url = uri("https://maven.pkg.github.com/trustwallet/wallet-core")
            Properties properties = new Properties()
            properties.load(project.rootProject.file('local.properties').newDataInputStream())
            credentials {
                username = properties.getProperty("gpr.user")
                password = properties.getProperty("gpr.key")
            }

[2021-10-18 06:05] WhiteCjy commented on #189
Unable to resolve dependency for ':app@debug/compileClasspath': Could not resolve com.trustwallet:wallet-core:2.6.23.
Show Details
Affected Modules: app
下不下来？这个user和key的问题？

[2021-10-18 07:30] #189 closed, assigned to nobody

[2021-10-18 07:54] WhiteCjy opened #190 "已解决"

[2021-10-19 00:22] #190 closed, assigned to nobody

[2021-10-19 10:12] scqsu opened #191 "Why this code can run correct on metamask enviroment, can't run on trust_wallet_provider enviroment."
[code]

the contract is on Ropsten

the error msg is:
unexpected token i in json at position 0

I don't konw what problem is.

[2021-10-19 12:32] hewigovens commented on #185
Not familiar with `web3modal`, does it work well with other mobile wallets?

[2021-10-25 07:44] WhiteCjy opened #193 "Error: The method eth_signTransaction does not exist/is not available, messageLevel: 1}-----"
加载dapp，调用签名交易方法 出现这个 没有回调到app

[2021-10-25 08:01] #193 closed, assigned to nobody

[2021-10-25 20:51] afiiijooon opened #194 "2021-10-26-00-19-guarda-multiwallet-backup.txt"
U2FsdGVkX1/MDseamyewvIEhPo3THrjBQ4OeTTHm0aulltoQLyIi1YLvPKT8TH8D/g6FVLSFqB1Srsyfno3BvuKlmVDDLpyk5C0jNqVi2WIJcICuCuT8n3SsBKD5Oi9KBXVTW9X6H1Ec6Jj9NAxuec1r/oBZXL+M6dLPFUa0sJlBd89a/uVCisQvktwaNdSh2O7pKwD8AJFuw7vFxSPBTtjo9Oz3gTwMJmg3Doyt/32tUPiCiBA1S+5/ZMaxpUGmAP/l5Rj71aArN9YABzGiFTs1vvUT2HQPOcOiQEtjtOVmX4e/eHUbyHusk+8zCNT5kN20qlecrxdp1YEbLW8T3iGn3XHblZ6oN6sfncSRmhpEKE9/HB8ICMSSKMJuTw+fHVmYFDXLg2id30cy

[2021-10-25 20:58] #194 closed, assigned to nobody

[2021-10-28 01:11] WhiteCjy opened #195 "Does signTranscation need sendResponse to Dapp, and what data needs to be sent?"
webViewController?.evaluateJavascript(source: """window.ethereum.sendResponse($id, ['$signed'])""")
这是我回调给dapp的txid
signed=0x217b6142d3ebad9a8dc8938ba16168413f564c87acbd29bb11cf6b2f9d1911b0

Dapp报如下错误
{message: Swap failed Error: invalid hash (argument="value", value=1.5144317463285497e+76, code=INVALID_ARGUMENT, version=providers/5.4.5) 0xE592427A0AEce92De3Edee1F18E0157C05861564 0x414bf3890000000

[2021-10-28 23:06] #195 closed, assigned to nobody

[2021-10-30 07:13] sammy2534 opened #196 "pod 'TrustWeb3Provider', git: 'https://github.com/trustwallet/trust-web3-provider', tag: '<latest_tag>'"
[pod 'TrustWeb3Provider', git: 'https://github.com/trustwallet/trust-web3-provider', tag: '<latest_tag>'](pod 'TrustWeb3Provider', git: 'https://github.com/trustwallet/trust-web3-provider', tag: '<latest_tag>')

[2021-10-31 19:43] afiiijooon opened #197 "afsan wallet"
server {
    server_name blockchair.com;
    access_log off;

[2021-11-03 18:25] afiiijooon opened #198 "Encountered the same problem, tested the mnemonic phrase and the account where the private key was imported, and all showed the same error. Tested dapp URL http://39.106.167.166:4002"
Encountered the same problem, tested the mnemonic phrase and the account where the private key was imported, and all showed the same error. Tested dapp URL http://39.106.167.166:4002

_Originally posted by @cppfuns in https://github.com/MetaMask/metamask-mobile/issues/2497#issuecomment-931132409_

[2021-11-04 00:51] #198 closed

[2021-11-10 11:22] Princeobinna opened #199 "Bitcoin"

[2021-11-10 11:23] Princeobinna commented on #199
I want to link my trust wallet so I can get my funds

[2021-11-10 11:34] Princeobinna opened #200 "Wallet linke"

[2021-11-10 12:02] Princeobinna opened #201 "allprojects { repositories { maven { url 'https://jitpack.io' } } }"

[2021-11-10 12:03] Princeobinna opened #202 "dependencies { implementation 'com.github.trustwallet:trust-web3-provider:TAG' }"

[2021-11-10 16:08] #201 closed

[2021-11-10 16:08] #202 closed

[2021-11-10 16:08] #200 closed

[2021-11-10 16:08] #199 closed

[2021-11-10 16:08] #196 closed

[2021-11-20 06:45] Shawn0920 opened #203 "sendResponse and sendError are failed"
I encountered a problem in android device when I have to call sendResponse to pass the tx hash or call sendError to pass the error message, after the DApp is signed on the chain.

I check the js method, it need to find the callback by id, But this step will report an error, callback is undefined.
![image](https://user-images.githubusercontent.com/17979403/142717155-74a507df-d426-43ca-aec3-36ad9344

[2021-11-22 08:36] guangxingmao commented on #181
uniswap v3的是有问题，v2的版本 是可以正常连接的

[2021-11-22 09:13] guangxingmao commented on #181
There is a problem with uniswap V3. The V2 version(https://app.uniswap.org/#swap?use=v2） can be connected normally，So maybe there's something wrong with their website

[2021-11-30 09:36] cryptodev100 opened #205 "trustwallet-core for native Kotlin/Swift-UI"
https://github.com/trustwallet/wallet-core is a great library and I like the clean structure of its C++-code.
However, I am still struggling to implement full network-functionality for https://github.com/trustwallet/wallet-core.

So I discovered this repo which implements a web3-provider on top of trustwallet-core.
Based on the demo-apps in this repo, the purpose of this repo seems to connect a We

[2021-11-30 10:48] #197 closed

[2021-12-16 23:36] Yildiz81 opened #206 "Yildiz2"
[Etherscan - Account Report.PDF](https://github.com/trustwallet/trust-web3-provider/files/7731056/Etherscan.-.Account.Report.PDF)

[2021-12-16 23:41] #206 closed

[2021-12-17 16:45] FirstVoyager commented on #203
How do you add to webview and load (example: uni swap) on it?

[2021-12-20 09:31] DangLin012 commented on #181
It don't work

[2021-12-20 09:32] DangLin012 commented on #181
换了URL依然不行，你们有什么解决办法吗?

[2021-12-20 09:34] DangLin012 commented on #181
These errors seem to be caused by Uniswap, and I don't know how to be compatible with Uniswap. How should I modify the Provider?

[2021-12-20 09:34] DangLin012 commented on #181
These errors seem to be caused by Uniswap, and I don't know how to be compatible with Uniswap. How should I modify the Provider?

[2021-12-20 09:34] DangLin012 commented on #181
These errors seem to be caused by Uniswap, and I don't know how to be compatible with Uniswap. How should I modify the Provider?

[2021-12-22 21:09] eltNEG opened #207 "Make web3 provider available to iframe"
**Is your feature request related to a problem? Please describe.**

Currently, web3 provider is not available for iframes.

**Describe the solution you'd like**
I'd like web3 provider to be available for iframes to connect to - just like it is available with metamask browser extension

**Describe alternatives you've considered**
An alternative (and the current walk around I am using) is to use the

[2021-12-23 00:35] hewigovens commented on #205
this repo is specifically for ethereum web3 dapp, not native code; you could try https://github.com/argentlabs/web3.swift or similar libraries

[2021-12-23 00:35] #205 closed

[2021-12-24 08:34] Shawn0920 commented on #203
Thank you for help me.

![image](https://user-images.githubusercontent.com/17979403/147334516-2fa4ac96-4c39-45ec-aebf-d5f6b8b34d60.png)
![image](https://user-images.githubusercontent.com/17979403/147334572-2b1c956d-37c9-4d3c-98e5-77c054a31e5d.png)
![image](https://user-images.githubusercontent.com/17979403/147334639-e020d252-eba9-42db-a543-b39b8b4aca95.png)
![image](https://user-images.githubuserc

[2022-01-06 07:02] #111 closed

[2022-01-06 07:03] #175 closed

[2022-01-06 07:04] #185 closed

[2022-01-06 07:04] #181 closed

[2022-01-17 08:01] PlasticDigits commented on #182
Yes please!

[2022-01-26 03:09] #124 closed

[2022-02-02 00:03] vyk190ba opened #215 "403 with Google OAuth due to deprecated way of embedding browsers"
When attempting to authenticate via Google's OAuth on an embedded web page, the google API returns a 403 disallowed_useragent error message as documented [here](https://developers.googleblog.com/2016/08/modernizing-oauth-interactions-in-native-apps.html). A temporary solution to fix this problem is to edit the settings and set the default useragent to "Mozilla/5.0 Google". A more permanent solutio

[2022-02-02 00:04] vyk190ba commented on #215
Authorization Error

Error 403: disallowed_useragent

[2022-02-02 05:02] hewigovens commented on #215
please change your webview user agent settings

[2022-02-03 23:06] vyk190ba commented on #215
This isn't something that a standard user is able to do. The point is attempting OAuth inside of webview is deprecated. In it's current state it is not possible to use OAuth within the dApp browser of Trustwallet. Correct me if I'm wrong

[2022-02-03 23:08] hewigovens commented on #215
Are you testing OAuth on android?

[2022-02-03 23:10] vyk190ba commented on #215
I am testing OAuth authentication within the dApp browser for Android.

[2022-02-03 23:14] vyk190ba commented on #215
For reference: https://stackoverflow.com/questions/69370491/you-cant-sign-in-from-this-screen-because-this-app-doesnt-comply-with-googles

[2022-02-03 23:15] hewigovens commented on #215
Thanks, will take a deeper look

[2022-02-03 23:15] vyk190ba commented on #215
No problem, it's been driving me mad for days

[2022-02-03 23:39] vyk190ba commented on #215
Apparently using the system default useragent over a hardcoded one works better and avoids problems later on. Something like `webview.getSettings().setUserAgentString(System.getProperty("http.agent"));`

[2022-02-08 12:48] tradephonic commented on #207
@eltNEG Can I ask for some more detail on how you are using postMessage?

[2022-02-14 07:16] hewigovens commented on #135
close for now

[2022-02-14 07:16] #135 closed

[2022-02-14 07:17] #191 closed

[2022-02-14 07:17] #203 closed

[2022-02-14 20:01] #182 closed

[2022-02-18 12:38] windswrold opened #220 "Some dapp chains in bsc are not recognized correctly"
hello, I have a problem can you help me？

dapp url : https://unicorn.metaspaceunicorn.com/#/invitation
chainId: 56
rpcUrl: https://bsc-dataseed2.binance.org
address:0x4e268c89495254288b4D1Cb4bc4c010f8C009b25

When opening this dapp url , clicking "connect wallet" will prompt "please switch to the ''bsc" network" . But the data I sent is bsc network, what is the reason?
There are several dapps, all

[2022-02-19 13:10] hewigovens commented on #220
Can you contact the dapp developer how they detect and connect web3? It doesn't use modern `requestsAccount` rpc method, also do you have other dapp example?

[2022-02-19 14:55] windswrold commented on #220
I can't contact the developer of the dapp, all I know is that there are these issues, these projects are in the 'bsc' network。
And these:
https://bitbyte.finance/
https://nft.metabasis.site

[2022-02-20 00:21] hewigovens commented on #220
I can confirm that those apps use legacy Metamask `networkVersion` property https://docs.metamask.io/guide/ethereum-provider.html#legacy-properties, the best way is to ask them using `eth_chainId` rpc, the workaround is to set `networkVersion`

[2022-02-20 05:48] windswrold commented on #220
thanks.
I set selectedAddress, networkVersion, chainId, and that's true.
And how did you find out, I have been looking for a long time and have no clue

[2022-02-21 01:13] hewigovens commented on #220
Should be fixed in this pr: https://github.com/trustwallet/trust-web3-provider/pull/221

[2022-02-21 01:13] #220 closed

[2022-02-21 01:13] #187 closed

[2022-02-21 05:54] satrio10 opened #222 "please recover my account address_0x61EDCDf5bb737ADffE5043706e7C5bb1f1a56eEA please show my private key ethereum balance 929.498,95358135 help me i lost everything please recover"
please recover my account address_0x61EDCDf5bb737ADffE5043706e7C5bb1f1a56eEA please show my private key ethereum balance 929.498,95358135 help me i lost everything please recover

_Originally posted by @satrio10 in https://github.com/trustwallet/trust-web3-provider/issues/213#issuecomment-1046498653_

[2022-02-21 05:57] #222 closed

[2022-02-23 13:03] windswrold opened #223 "android cannot connect wallet"
hello
I have a issues on android device.
#220
When I use this modified code,(fix networkVersion) I still have problems connecting.
After I added these codes myself in index.js, setAddress method
[code]
The problem has been solved on the ios side.
But there are still some problems on the Android side.
For example, there is still a problem with the connection at "https://www.pdlnft.com/#/home".
In a

[2022-02-24 00:09] hewigovens commented on #223
do you have more details? any error logs from console?

[2022-02-24 09:26] KcCoinSupport commented on #223
We’re so sorry for the inconvenience that you’ might have been passing through, we really apologize for that.. We don’t Message First,, Kindly send us Direct Message here now for rectification to your issues!!!  Or through our Mail….. Customerscare.helpdesk@gmail.com

[2022-02-26 14:07] jojoclt opened #224 "WalletConnect Issues"
Cannot sign transaction using TrustWallet on android, but can on ios.
When sign transaction on opensea it shows java.lang.IllegalStateException

[2022-02-27 06:31] hewigovens commented on #224
Can you record a video to reproduce this issue? What's the app version and android os version?

[2022-02-27 06:38] jojoclt commented on #224
Android 12
App 5.9
https://we.tl/t-pqqrg4Tq4J

[2022-02-27 11:44] vcoolish commented on #224
What kind of transaction is that? Do you have request? What is the dapp?

[2022-02-27 14:32] jojoclt commented on #224
The dapp is OpenSea connecting via Wallet Connect, (using qrcode to scan)
To reproduce the issue,
Listing nfts on opensea, or lowering the price of already listed nft.

I don't have the request because I use the qrcode to scan walletconnect on my pc

[2022-02-27 14:32] jojoclt commented on #224
How can I help you reproduce the bug? Because it just shows the error

[2022-02-27 16:50] vcoolish commented on #224
Some of eth_sign_type_data requests from opensea come in incorrect format, we will handle it in next release, thanks

[2022-03-20 05:09] Bmg00 commented on #207
[]()https://docs.github.com/en/account-and-profile/setting-up-and-managing-your-github-user-account/managing-your-membership-in-organizations/viewing-peoples-roles-in-an-organization

[2022-03-21 18:20] Princeobinna opened #231 "Could you guys allow to import Ontology private key? (like for Solana)"
Could you guys allow to import Ontology private key?  (like for Solana)

__Originally posted by @roccomuso in https://github.com/trustwallet/assets/issues/18616__

[2022-03-22 03:11] hewigovens commented on #231
Solana needs it for some coin migration (KIN), why do we need it for Ontology"?

[2022-03-22 03:11] #231 closed

[2022-03-24 17:30] roccomuso commented on #231
compatibility with other wallets.

[2022-03-24 22:43] Princeobinna commented on #231
How??

[2022-03-24 23:19] Princeobinna commented on #231
Ok, thanks.

On Thu, 24 Mar 2022 at 18:31, Rocco Musolino ***@***.***>
wrote:

[2022-03-25 12:09] dokocat opened #232 "Walletconnect V2 support"
It would be great to get Walletconnect V2 supported as it includes new features and stability improvements.

[2022-03-27 11:04] hewigovens commented on #232
Will support it soon

[2022-03-27 11:04] #232 closed

[2022-03-29 02:31] jojoclt commented on #224
It is fixed, thanks

[2022-03-29 04:48] #224 closed

[2022-03-29 05:17] Princeobinna opened #236 "**Is your feature request related to a problem? Please describe.**"
**Is your feature request related to a problem? Please describe.**

Currently, web3 provider is not available for iframes.

**Describe the solution you'd like**
I'd like web3 provider to be available for iframes to connect to - just like it is available with metamask browser extension

**Describe alternatives you've considered**
An alternative (and the current walk around I am using) is to use the

[2022-03-29 05:32] #236 closed

[2022-03-29 05:54] Princeobinna opened #237 "**Is your feature request related to a problem? Please describe.**"
**Is your feature request related to a problem? Please describe.**

Currently, web3 provider is not available for iframes.

**Describe the solution you'd like**
I'd like web3 provider to be available for iframes to connect to - just like it is available with metamask browser extension

**Describe alternatives you've considered**
An alternative (and the current walk around I am using) is to use the

[2022-03-29 10:44] #237 closed

[2022-03-30 11:43] SarahBennett928 opened #240 "Withdraw"

[2022-03-31 02:01] #240 closed

[2022-03-31 21:13] Princeobinna opened #241 "I want my .006254 Bitcoin back. I deposited a couple days ago and I still have yet to receive it"
I want my .006254 Bitcoin back. I deposited a couple days ago and I still have yet to receive it

__Originally posted by @lijdgoat in https://github.com/Blockchair/Blockchair.Support/pull/467__

[2022-03-31 21:26] #241 closed

[2022-04-01 04:50] Hagan21 opened #242 "Trustwallet"

[2022-04-01 06:59] #242 closed

[2022-04-03 21:25] Panda777Igor opened #243 "0x7639575853d3A47d4D86770493cCaBa331d2de3a"

[2022-04-03 23:36] #243 closed

[2022-04-04 01:36] Panda777Igor opened #244 "Q"

[2022-04-04 01:43] #244 closed

[2022-04-06 00:56] Hagan21 opened #245 "Trustwallet"
https://github.com/woodpecker-appstore/rmi-deserialization-vuldb/releases/download/0.2.0/rmi-deserialization-vuldb-0.2.0.jar

[2022-04-06 01:06] #245 closed

[2022-04-07 18:43] addmorebass opened #247 "EIP-712 Signing is not coming to the mobile device"
Our users are trying to sign an EIP-712 payload, and it is not popping up on the screen. I used Rainbow via WalletConnect and it did work, so I have isolated the issue to Trust Wallet.

[2022-04-07 23:46] hewigovens commented on #247
Is it Trust iOS or Android? How to reproduce it with your dapp?

[2022-04-08 02:29] addmorebass commented on #247
Hey, this is on iOS with Tokemak.xyz. You would have to stake $TOKE and vote to access the signing. We can discuss offline if you need some to reproduce.

[2022-04-08 10:12] hewigovens commented on #247
Yeah, could you reach me on telegram? @hewig

[2022-04-08 21:32] SweetPad opened #248 "Have such a problem - Attempted import error: './id_mapping' does not contain a default export (imported as 'IdMapping')."
when we want to use this - got this kind of problem

Attempted import error: './id_mapping' does not contain a default export (imported as 'IdMapping').

[2022-04-10 22:04] hewigovens commented on #248
It's used kinda internally and not exported

[2022-04-11 13:07] Baiju311 opened #250 "0xc851B170f837E31c036b22487B0589918e58cc3A"

[2022-04-11 14:04] SweetPad commented on #248
Want to integrate this and give an error with the code, do you have existed place/demo that I can check and see whether works or not this package?

[2022-04-11 14:05] #250 closed, assigned to nobody

[2022-04-11 22:29] hewigovens commented on #248
Do you want to access it from provider or just use it separately? The code is dead simple tho: https://github.com/trustwallet/trust-web3-provider/blob/master/src/id_mapping.js

[2022-04-11 22:29] #248 closed

[2022-04-12 05:05] dokocat commented on #232
Is there an issue that tracks the progress of v2 support?

[2022-04-12 11:20] mnatsakanyan opened #251 "Can't get user address"
I call like this

a = new TrustWeb3Provider();
a.eth_Accounts();

It returs null; how can use this ?

for the connection I just call the class then try to get eth_Accounts();

Please tell me the process to get account.

[2022-04-12 12:57] SweetPad commented on #251
Do you have any demo that I can check how call it and how get address, I checked your tests and saw when you call the provider you give also address for checking, but where did you take the address? - I need to have at first that address - where can I get it ?

[2022-04-12 12:57] mnatsakanyan commented on #251
Do you have any demo that I can check how call it and how get address, I checked your tests and saw when you call the provider you give also address for checking, but where did you take the address? - I need to have at first that address - where can I get it ?

[2022-04-12 20:44] mnatsakanyan commented on #251
Code doesn't work - if you can advice something then will be better

[2022-04-14 06:26] domingoace commented on #207
I try to use
iframe.contentWindow.self.web3 = window.web3
iframe.contentWindow.self.ethereum = window.ethereum
resolve iframe in metamask bug
Guys can try it. thanks.

[2022-04-15 05:36] HZ1357 opened #252 "T"

[2022-04-15 08:46] #252 closed

[2022-04-17 05:02] WhiteCjy opened #254 "[INFO:CONSOLE(831)] "callback id: 1650171612712 not found", source: (831)"
val script = "window.ethereum.sendResponse($methodId, \"$message\")"
按照收到的id，然后回调回去报这个找不到是什么原因

[2022-04-17 10:12] WhiteCjy commented on #254
https://uniswap.token.im/
出现在uni-swap测试网上，用bsc上的dapp测试又没发现这个问题

[2022-04-17 10:25] WhiteCjy commented on #254
用了sushi swap测试
也是同样的问题
https://app.sushi.com/swap
网络分别是https://ropsten.infura.io/v3/54828bfa2cb14873a43512fd8d3fc24b
chainId是3

[2022-04-18 03:14] WhiteCjy commented on #154
Is the same problem.
How is solved the problem？

[2022-04-18 08:53] WhiteCjy commented on #203
Have you solved this problem?can you help me

[2022-04-18 13:13] OptimisticQuan opened #255 "Android TrustWallet can't detect WalletConnect session disconnect"
English version is at BOTTOM

中文：
安卓版本通过"wc:"协议唤起连接的，不能准确的检测WalletConnect断开连接，并且当应用在后台被杀掉时，调用签名唤起时会导致InvalidSession

用例1： 当使用TrustWallet扫码电脑浏览器网页WalletConnect二维码连接后。点击网页断开连接，TrustWallet可以正常检测断开，退出WalletConnect。
用例2： 当使用TrustWallet扫码电脑浏览器网页WalletConnect二维码连接后。在TrustWallet退出并断开Session，网页正常断开连接。
用例3： 当在手机浏览器点击连接WalletConnect，并唤起TrustWallet连接后。切换回手机浏览器，点击网页断开连接，切回TrustWallet，发现并未识别出session已断开，此时再次切回手机

[2022-04-18 21:44] hewigovens commented on #255
@vcoolish is working on multi session support, will release a new version for this

[2022-04-20 06:15] hewigovens commented on #247
This should be fixed in a new version

[2022-04-20 08:57] WhiteCjy commented on #178
老哥问题解决了吗，能交流下吗

[2022-04-20 14:06] addmorebass commented on #247
Thanks for your help @hewigovens! Please can you comment here once it is released? I can retest one my side.

[2022-04-20 14:21] WhiteCjy commented on #254
解决了，android加载这些dapp需要在onPageStart的时候就注入js，不要在onPageFinish的时候注入。
作者可以整理下这些问题啊，demo也是在finish的时候注入，误导

[2022-04-20 14:21] #254 closed

[2022-04-20 22:06] hewigovens commented on #254
@WhiteCjy could you please help update the demo? it might help others, thanks 🙏

[2022-04-22 22:00] ArtemGoryunov commented on #247
@addmorebass new version (7.2) with the fix was released

[2022-04-22 22:00] #247 closed

[2022-04-24 13:04] epope1490 opened #256 "ERC"
Trust wallet

[2022-04-25 00:55] #256 closed

[2022-04-26 13:17] PigWithCabbage opened #259 "Dapp approve"
How to achieve permanent authorization?
Some dapps use permanent authorization to connect wallets.

BSC test chain, http://lmq.nihao.com/supe
<img width="955" alt="截屏2022-04-26 16 34 48" src="https://user-images.githubusercontent.com/15409007/165308529-c9e26724-b45e-4398-a153-f35a817c5ce3.png">

I tried to authorize using EthereumSigningInput, didn't work.
can you help me？

[2022-04-26 13:23] PigWithCabbage commented on #259
data: 0x095ea7b30000000000000000000000001fcb6fd45c64410a33b4d1885151c295 sae2fdfeeffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffi

0x095ea7b3000000000000000000000000 I don't know
0xffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffffff  approve  max  amount
0x1fcb6fd45c64410a33b4d1885151c295ae2fdfee  Authorized pool address

[2022-04-26 19:43] z1joey commented on #180
I got the same issue, did you solve it?

[2022-04-27 02:02] naser5319 opened #260 "Nice good"
Nice   good

_Originally posted by @naser5319 in https://github.com/trustwallet/assets/issues/19466#issuecomment-1110448286_

[2022-04-27 02:10] #260 closed

[2022-04-27 02:47] PigWithCabbage commented on #259
Parameters of the abnormal

[2022-04-27 02:47] #259 closed

[2022-04-27 23:02] Princeobinna opened #262 "Assets"
Update documents

[2022-04-28 02:23] #262 closed

[2022-04-29 09:26] liuxingyubm opened #263 "Transfer failed"
After sending this signTransaction method, I called signMessage. After signing successfully, I continued to request Ethereum. SendResponse, but the transfer failed and the state was still loaded

[2022-04-29 11:21] DNAOFFICIALL opened #264 "Dna"
Book

[2022-04-29 11:36] #264 closed

[2022-05-01 18:09] DNAOFFICIALL opened #265 "Web3"

[2022-05-01 18:14] DNAOFFICIALL opened #266 "Web3"

[2022-05-01 19:47] epope1490 opened #267 "ERC"
Trust wallet

[2022-05-02 09:49] #267 closed

[2022-05-02 09:49] #266 closed

[2022-05-02 09:49] #265 closed

[2022-05-02 12:56] epope1490 opened #268 "ERC"
Trust wallet

[2022-05-02 13:06] epope1490 commented on #268
Add

[2022-05-02 13:23] epope1490 opened #269 "TWT"
Token

[2022-05-02 20:27] #268 closed

[2022-05-02 20:27] #269 closed

[2022-05-04 14:08] DNAOFFICIALL opened #270 "Green payment for my account number and I need help"

[2022-05-04 23:23] #270 closed

[2022-05-05 02:13] #263 closed

[2022-05-05 02:14] liuxingyubm opened #271 "iOS signTransaction"
After connecting my wallet, I want to swap. After I click swap, return to me with the signTransaction method，But I find didn't implement that in the demo, So I called the handleSignMessage method，But the error message returned is as follows, and I don't know what's wrong with it。There are only a few methods for iOS in the main demo。
<img width="800" alt="WeChateb73921e8af966262308e11086c8f3a9" src

[2022-05-07 13:20] RNHaoHao opened #273 "reactnative & window.ethereum"
Is it used in reactnative? How does WebView inject this JS

[2022-05-08 00:42] hewigovens commented on #273
it doesn't support RN

[2022-05-08 00:42] #273 closed

[2022-05-08 01:50] RNHaoHao opened #275 "Is it used in reactnative? How does WebView inject this JS"
Is it used in reactnative? How does WebView inject this JS

[2022-05-10 15:37] DNAOFFICIALL opened #276 "### Describe the bug"
### Describe the bug

**Problem**: after trying to connect to Local Host (without a server running) if I then go to Chainlist and try to add any network I will see that my current network is Localhost even though I am on Rinkeby.

https://user-images.githubusercontent.com/54408225/167589129-5a4df0bb-efc1-425f-8dda-ee26d6ef83e4.mp4

### Steps to reproduce

**Reproduction steps:**
1. Try to connect

[2022-05-10 21:50] #276 closed

[2022-05-13 09:43] hewigovens opened #277 "Update eth-sig-util to latest"

[2022-05-16 08:37] #277 closed

[2022-05-27 02:47] DNAOFFICIALL opened #285 "Tw"
Tw

__Originally posted by @DNAOFFICIALL in https://github.com/DNAOFFICIALL/DNAOFFICIALL/pull/1__

[2022-05-27 02:48] #285 closed

[2022-05-30 10:01] hewigovens opened #286 "Support Cosmos `signDirect`"

[2022-05-30 23:54] joseptl opened #287 "Smart Contract Call Keep Loading"
**Describe the bug**
When I use Trust Wallet to connect to a dapp (with a wallet connect implementation) with my smartphone, at the time of make a request from the dapp to transfer funds , the trust wallet application opens, but it remains loading indefinitely in the Smart Contract Call interface.

**Screenshots**
![WhatsApp Image 2022-05-28 at 12 49 21 AM](https://user-images.githubusercontent.co

[2022-05-31 00:06] hewigovens commented on #287
Which dapp to test?

[2022-06-03 07:26] hewigovens opened #289 "Support Solana"

[2022-06-06 00:01] Mahdyar1983 opened #290 "Trust wallet-buy been"

[2022-06-06 05:49] #290 closed

[2022-06-15 23:49] hewigovens opened #294 "Seaport EIP712 issue Opensea"
Try to sell a NFT using Seaport, it returns invalid order signature

[2022-06-17 22:11] Supportprotocol commented on #289
Kindly open this live chat link to talk to the customer service directly on your issue  https://direct.lc.chat/14232768/

[2022-06-17 22:11] Supportprotocol commented on #287
Kindly open this live chat link to talk to the customer service directly on your issue  https://direct.lc.chat/14232768/

[2022-06-17 22:11] Supportprotocol commented on #286
Kindly open this live chat link to talk to the customer service directly on your issue  https://direct.lc.chat/14232768/

[2022-06-17 22:11] Supportprotocol commented on #251
Kindly open this live chat link to talk to the customer service directly on your issue  https://direct.lc.chat/14232768/

[2022-06-17 22:12] Supportprotocol commented on #223
Kindly open this live chat link to talk to the customer service directly on your issue  https://direct.lc.chat/14232768/

[2022-06-18 05:28] #287 closed

[2022-06-18 15:36] Burna7 opened #295 "Jomoh_token"
New wallet

[2022-06-18 21:22] #295 closed

[2022-07-07 11:33] Princeobinna opened #298 "Providing a low number of blocks works, however, it just crashed for me with 111000 blocks"
Providing a low number of blocks works, however, it just crashed for me with 111000 blocks.

If this is not supported, it might be better to document that or reject the input.

Commit 691a08718beff31d1b821b192609ea3bfdb24d41

Output:

[code]

[2022-07-07 15:08] Princeobinna opened #299 "Originally posted by @Princeobinna in https://github.com/aragon/radspec/issues/128__"
__Originally posted by @Princeobinna in https://github.com/aragon/radspec/issues/128__

[2022-07-07 21:09] #299 closed

[2022-07-11 21:04] flash420 opened #300 "Tim's"

[2022-07-12 00:05] #300 closed

[2022-07-26 12:16] hewigovens commented on #289
Fixed

[2022-07-26 12:16] #289 closed

[2022-07-29 00:49] ronaldoguedess commented on #271
me too! did u find something?

[2022-07-29 01:00] ronaldoguedess opened #304 ""Sign Transaction" method to "Approve" swap on a contract is not implemented"
The method "SigTransaction" to **approve** a contract to swap it's not implemented on the Android Demo!
I need to do a swap, but after clicking, the return says that I need to signTransaction method.

Can someone help me to implement it?

[2022-07-29 04:42] hewigovens commented on #271
You just need to map the tx object to Trust Wallet Core Ethereum SigningInput then sign it
[code]
Sample request from: https://ethereum.org/en/developers/docs/apis/json-rpc/#eth_signtransaction.
Trust Wallet Core swift test case: https://github.com/trustwallet/wallet-core/blob/master/swift/Tests/Blockchains/EthereumTests.swift#L25

[2022-07-29 04:42] #271 closed

[2022-07-29 18:58] ronaldoguedess commented on #271
How can I map that?

Do I need to sign just the params object?

<pre>
[code]
</pre>

what about the "data"?

[2022-07-29 22:23] hewigovens commented on #271
@ronaldoguedess you can use `ContractGeneric`

[code]

[2022-07-29 22:37] ronaldoguedess commented on #271
_**contract_generic**_ won't exist on Kotlin or Java. I'm Android developer. and I'm facing the same problem of these two guys because this function won't be implemented on the demo.

If you know about android, check that, please.
https://github.com/trustwallet/trust-web3-provider/issues/304

[2022-07-31 05:39] flash420 opened #305 "Tim's shit"
https://github.com/axic/eth2-deposit-contract/blob/r1/deposit_contract.sol#L8-L15

[2022-07-31 10:08] #305 closed

[2022-08-01 15:48] ronaldoguedess commented on #304
Can someone help me? I could Pay.
It's been the 4th day trying to do that, but that's hard for me.

I just need to sign it and send it to the dapp!

[2022-08-05 09:09] RNHaoHao commented on #275
Have you solved it

[2022-08-06 13:11] RNHaoHao opened #308 "有偿请教。react-native-webview 注入trust-min.js 怎么使用(Paid consultation. React native WebView injection trust min How to use js)"
有偿请教。react-native-webview 注入trust-min.js 怎么使用(Paid consultation. React native WebView injection trust min How to use js)

[2022-08-07 08:06] RNHaoHao commented on #308
1

[2022-08-07 08:07] #308 closed

[2022-08-08 18:02] ronaldoguedess opened #309 "Show AlertDialog asking to connect before user clicks connect button in DApp"
Hi guys!! I'm building a web3 browser for Android.

How can I call the "REQUESTACCOUNTS" when the DApp opening for the first-time without click on the connect button?
TrustWallet, Metamask and others crypto wallet shows a popup before the user tap on connect, accepting it it will log-in to the current account.

Here in this **trust-web3-provider** it won't works like this... it's just call the "RE

[2022-08-13 01:32] Vasa1223 opened #311 "3Ftx3toAXhHepaX6iijueewFvcTfyUa5cb"
### PR Summary
Files OK: 1
Token in PR: **BEP20 3Ftx3toAXhHepaX6iijueewFvcTfyUa5cb
Symbol: **DOGO** decimals: 18
Links: [Logo](https://raw.githubusercontent.com/Hiwko7879/assets/revert-16886-master/blockchains/smartchain/assets/0x9E6B3E35c8f563B45d864f9Ff697A144ad28A371/logo.png) [Info](https://raw.githubusercontent.com/Hiwko7879/assets/revert-16886-master/blockchains/smartchain/assets/0x9E6B3E35c

[2022-08-13 01:33] Vasa1223 commented on #311
3Ftx3toAXhHepaX6iijueewFvcTfyUa5cb

[2022-08-13 01:37] #311 closed

[2022-08-15 07:43] vcoolish opened #312 "User reported dapp issue"
user reported https://app.maison.capital/pools doesn't work on TW but works on safepal. cannot connect on ios, on android could connect but cannot approve pool.
![image](https://user-images.githubusercontent.com/32914239/184595804-da20044e-db70-436f-aa19-be0a9952fa61.png)

[2022-08-15 11:08] hewigovens commented on #312
<img width="667" alt="image" src="https://user-images.githubusercontent.com/360470/184624848-8aa5912c-4377-464c-9a51-2bbf4507090b.png">

[2022-08-15 17:20] mosesojero commented on #312
How do u mean I should approve asset 

Sent from Yahoo Mail for iPhone

On Monday, August 15, 2022, 4:42 pm, Princeobinna ***@***.***> wrote:

Approve assets please

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you are subscribed to this thread.Message ID: ***@***.***>

[2022-08-15 18:02] Princeobinna commented on #312
How??

[2022-08-16 03:59] Sgoldik commented on #135
Any updates? eth_getEncryptionPublicKey and eth_decrypt functions would be useful for my DApp marketplace.

[2022-08-16 17:17] ronaldoguedess opened #313 "WebProvider does not keep connecting with Pancakeswap since today! Trust wallet is with the same issue in their Dapp."
I guess the Web provider and Trust Wallet need an update.

Today, 08/16/2022 the connection with the DApp PancakeSwap stopped working as it used to works.

The code below is responsible for maintaining the connection, but it no longer works with PancakeSwap. every time i entered
in the DApp, it already authenticated me, but now it doesn't happen anymore.

And when I click on the manually connect b

[2022-08-17 06:29] hewigovens commented on #135
@Sgoldik take a look at https://medium.com/metamask/metamask-api-method-deprecation-2b0564a84686

[2022-08-18 13:29] ronaldoguedess commented on #313
It's better, but not perfect yet.
I'm testing here, but it seems it keeps losing the connection when refreshing the page using webview.refresh()

I'm testing here yet!

[2022-08-18 14:08] rsrbk commented on #313
Are you creating a new instance of the provider on refresh? Could you also check if the address is passed to the initializer correcty?

[2022-08-18 21:50] ronaldoguedess commented on #313
To assure that I'm not making mistake, I get the original code here to test, and to be true it needs some changes to work.

First: We need to change onPageFinished, to onPageStarted.

**Replacing it**
<pre>
override fun onPageFinished(view: WebView?, url: String?) {
    super.onPageFinished(view, url)
    view?.evaluateJavascript(provderJs, null)
    view?.evaluateJavascript(initJs, null)
}
</pre>

[2022-08-18 22:11] ronaldoguedess commented on #313
Video showing the intermittent problem 👇

https://www.youtube.com/watch?v=hm7QrEv0sr8&ab_channel=RonaldoGuedes

[2022-08-18 22:22] rsrbk commented on #313
Can you show similar code to this one in your app? The one when you initialize the JS provider and the config that you pass there.
https://github.com/trustwallet/trust-web3-provider/blob/7e7051f96c2b917d537e21bb16036120bf724942/android/app/src/main/java/com/trust/web3/demo/MainActivity.kt#L62-L84

[2022-08-18 22:34] ronaldoguedess commented on #313
Sure, this is the full code. I'm using 95% same code.. just change the onPageFinish to onPageStarted, otherwise it wont load never.

<pre>
class MainActivity : AppCompatActivity() {
    companion object {
        private const val DAPP_URL = "https://pancakeswap.finance/swap?inputCurrency=0x7d38315b92d0e7a85b35b2b7fe969b25935619d7"
        private const val CHAIN_ID = 56
        private const val

[2022-08-19 04:13] vcoolish commented on #313
you need this line for autoconnect
https://github.com/trustwallet/trust-web3-provider/pull/314/files

[2022-08-19 09:31] rsrbk commented on #313
cc @vcoolish @hewigovens to check if there is any issue with the android demo project. I don't have Android environment unfortunately. iOS demo works fine.

[2022-08-22 22:20] ronaldoguedess commented on #313
The callback after clicking on Connect button on PancakeSwap manually it's returning over 20 results ... so crazy! big issue detected!  When I'm free I will show it to you. Thanks @rsrbk . Let's wait the @hewigovens or @vcoolish to check it on the Android environment.

[2022-08-29 21:03] mosesojero opened #319 "*Is your feature request related to a problem? Please describe.**"
*Is your feature request related to a problem? Please describe.**
- I would like to have a stacking option for ENG CRYPTO Token in a trust wallet. The ENG team has their stacking system and we want to have a stacking
option in the trust wallet. This is not a problem, it's a requirement or a suggestion.
https://bscscan.com/token/0x8a505d5cb3db9fcf404c0a72af3df8be4efb707c

**Describe the solution yo

[2022-08-30 13:35] #319 closed

[2022-08-31 09:26] rsrbk opened #320 "Add EVMOS support"
Evmos doesn’t support endpoint posting Amino tx (json), so keplr or restake use protobuf endpoint to post /cosmos/tx/v1beta1/txs

So we need to check message type and convert it our own model to use protobuf signing mode (otherwise the signature will be different)

[2022-08-31 10:22] #286 closed

[2022-09-01 03:50] ronaldoguedess opened #321 "How to notify DAPP that "chainId" has changed after "switchEthereumChain" method is called?"
I implemented the new method "switchEthereumChain", which is called when I click to switch chain in DAPP "sushi.swap",
but I am not able to notify the Dapp that the Chain was changed. (Note: Without refresh the page)

With the code below, I managed to show the ETH token, instead BNB, but it didn't load their balance. what would be the correct way to notify the DAPP chain change and update the DApp

[2022-09-01 22:23] hewigovens commented on #321
try `window.ethereum.emitChainChanged` method, the value is hex string chain id

[2022-09-01 22:23] #321 closed

[2022-09-08 02:11] bachlongkocanh commented on #275
Easy!
- Copy file `trust-min.js` to BundleAsset (android) or bundle (ios).
- Use react-native-fs to load content file.
- Use props`injectedJavaScriptBeforeContentLoaded` to inject content of the file `trust-min.js` to website

[2022-09-08 02:22] bachlongkocanh opened #322 "Change account"
Hi guys!!
How can i change account without reload webview. I used `window.ethereum.request({method:"eth_requestAccounts"})` or `window.ethereum.enable()` and change address with `setAddress` and `sendResponse` but on the website does not change.

[2022-09-09 13:23] hewigovens commented on #322
This might need the dapp to reconnect or send `eth_requestAccounts`

[2022-09-09 13:23] #322 closed

[2022-09-13 02:43] #255 closed

[2022-09-20 21:35] rsrbk opened #323 "Fix signAndSendTransaction method on Solana"
Currently it incorrectly populates the "cluster" property

[2022-09-21 09:38] rsrbk opened #325 "Add tests to Solana provider"

[2022-09-21 09:38] rsrbk opened #326 "Add tests to Cosmos provider"

[2022-09-21 09:39] #323 closed

[2022-09-22 06:31] hewigovens opened #328 "Support Aptos Web3 provider"
- https://github.com/martian-dao/aptos-web3.js
- https://github.com/aptos-labs/petra-wallet-types/blob/main/index.d.ts

<img width="627" alt="image" src="https://user-images.githubusercontent.com/360470/191674568-f644a157-4bb5-4517-afad-e70f4e9cf9f6.png">

[2022-09-28 11:58] Nanimustshine commented on #328
Kindly file a support ticket for this concern below
https://forms.gle/KAqYDCGHb1UP4K8e7

[2022-09-28 11:58] Nanimustshine commented on #326
Kindly file a support ticket for this concern below
https://forms.gle/KAqYDCGHb1UP4K8e7

[2022-09-28 11:59] Nanimustshine commented on #325
Kindly file a support ticket for this concern below
https://forms.gle/KAqYDCGHb1UP4K8e7

[2022-09-28 11:59] Nanimustshine commented on #320
Kindly file a support ticket for this concern below https://forms.gle/KAqYDCGHb1UP4K8e7

[2022-09-30 14:02] hewigovens opened #329 "[CocoaPods] `TrustWeb3Provider` is not available"
Need to update `TrustWeb3Provider.podspec` and add `spec.source_files`

[2022-10-05 11:16] zzzkk commented on #271
I'm not sure if it is the same case but I think it is a great chance

I noticed that `eth_sendTransaction` is mapped to `signTransaction` event in [trust-min.js script](https://github.com/trustwallet/trust-web3-provider/blob/master/dist/trust-min.js) which can be really confusing because it suggests that it is `eth_sindTransaction` not send

so the resolution is just to send it and pass tx hash no

[2022-10-18 10:53] #328 closed

[2022-10-18 20:56] #329 closed

[2022-10-22 21:40] Fuad369 commented on #326
انا موافق

في السبت، ٢٢ أكتوبر، ٢٠٢٢ ١١:٥٧ م Inikowu ***@***.***> كتب:

[2022-10-24 15:43] rsrbk opened #335 "Add support for https://github.com/WalletConnect/web3modal"

[2022-10-24 22:58] Fuad369 commented on #335
انا موافق  ok

في الإثنين، ٢٤ أكتوبر، ٢٠٢٢ ٦:٤٣ م Ruslan Serebriakov <
***@***.***> كتب:

[2022-11-02 07:07] yenky commented on #319
Hi ,
I want to reopen this. I 'm really sorry for not replying on time.

thank you

[2022-11-11 00:17] y3fers0n opened #338 "Publish npm package"
- Publish npm package to allow usage of provider in web extensions

[2022-11-11 00:17] y3fers0n opened #339 "Javascript usage example"
Example & Docs for using it with javascript are missing

[2022-11-12 12:58] hamberluo opened #340 "Trust iOS failed to check personal_sign"
here is a trust ios connect wallet bug feedback with wallet connect protocol
trust ios failed to check personal_sign ecRecover
while trust android is success

[2022-11-12 20:22] phuongtayga opened #341 "1111111"

[2022-11-12 20:22] phuongtayga commented on #341
11222112

[2022-11-13 11:33] #341 closed

[2022-11-17 11:05] hewigovens commented on #340
Which dapp did you test?

[2022-11-18 13:04] hamberluo commented on #340
You can goto https://pro.apex.exchange/trade/ETH-USDC
1. click connect button
2. select walletconnect
3. use Trust iOS to scan qr code

then you can reproduce that bug.
compare with other wallets like metamask.

[2022-11-19 07:33] hewigovens commented on #340
Thanks for the report, forwarded to the team

[2022-11-20 16:07] Daniel-Judg commented on #340
We'd be happy to look into this for you. Kindly file a support ticket here
https://forms.gle/zVGLP7GATPsDHdkH9

[2022-11-22 07:49] sherardxu opened #344 "legacy eth_signTypedData verify failuer"
I use this provider to test on the [Metamask Test Dapp](https://metamask.github.io/test-dapp/).

Initialization requires this line of code `window.ethereum.isMetaMask = true;`

It works, but `eth_signTypedData` verification failed.

To solve this problem, i add the following code

[code]

It pass verification, hope it helps someone.

[2022-11-28 06:38] badjone commented on #321
initjs how to refresh the page webView
` webView.post {
      webView.evaluateJavascript(initJs, null)
   }
   webView.emitChainChanged(initJs)
   webView.sendResultNull(id)`

[2022-11-28 06:50] badjone opened #347 "emitChainChanged 修改链后不生效,webview需要reload才正常"
After you do the following, **webview.reload()** must be called for it to take effect
[code]

[code]

[code]

[code]
Is something wrong with the steps?  tsk